[2020-11-20 19:16] #426 closed

[2020-11-20 19:51] ntucker commented on #426
Hmm, what's the type of your createShape()? useFetcher() should have a very specific return type.

[2020-11-22 08:31] Secretmapper opened #428 "Updating an entity on createShape (plus get nested resource as resource)"
When creating a resource, I want to be able a related resource of the same type. A good example is a catalogue API. When I create a folder, I want its children's list to update.

[code]

My expectation is that `updateParamA` would return the folder with `props.id`, allowing me to update it  by adding the id of my new folder to the FolderResource. It doesn't even have to be optimistic, I just want

[2020-11-22 17:07] Secretmapper opened #429 "Showing Upload Progress"
**Is your feature request related to a problem? Please describe.**
In our app, we need to show the upload progress of a `File` in `FormData`, which creates a new entity.

**Describe the solution you'd like**
It would be great if this was supported, but since the callback needs to be passed in the network layer, this seems to be a problem (unless we pass it to the `FetchShape`?)

**Describe alterna

[2020-12-09 20:29] graphan commented on #415
@ntucker it would be awesome to have an example to make the solution more complete.
Do you have any update on this?

[2020-12-10 20:34] ntucker commented on #415
I'll take a look at this within the next week

[2020-12-17 22:09] #415 closed

[2020-12-30 01:54] ntucker commented on #415
@graphan I revisited this after usage, and ended up with https://github.com/coinbase/rest-hooks/pull/446. Would love to see feedback on its usage. (Includes docs updates that should make it clear.)

[2020-12-30 15:34] ranyefet opened #449 "useStatefulResource with pagination"
Hello,

I'm looking into integrating `rest-hooks` into my app. My first use case is fetch list of resources with pagination.

**React version** 16.13.1

**Concurrent mode** no

**Describe the bug**
I'm using `useStatefulResource` in order to access `loading` state.
I'm also using infinite scrolling pagination to load the next page.

On initial load of page, `loading` is set to `true` and everythin

[2020-12-31 09:05] ranyefet commented on #449
I've managed to get the `loading` state by wrapping the `fetchMore` function with `useLoadingFunction` described here:
https://resthooks.io/docs/guides/loading-state

It still feel a bit strange to get the loading state from two different places 🤷🏽‍♂️

[2020-12-31 09:06] #449 closed

[2020-12-31 10:13] ranyefet opened #454 "Pagination does not work for the third page"
**React version** (e.g., 16.13.1)

**Concurrent mode** no

**Describe the bug**

Hello,

I followed the instruction on [Infinite Scrolling](https://resthooks.io/docs/guides/infinite-scrolling-pagination) page.
Everything appeared to work, but only for the first and second pages. When I keep asking for the next page, I keep getting the second page.

My API returns data in the shape of:

[code]

I'm

[2020-12-31 17:41] ntucker commented on #454
[code]

What is the skip, limit returned from the second result? Is it the 'current' or 'next'? Is it being updated?

PS) If you use v5 you can use debugging tool: https://resthooks.io/docs/next/guides/debugging

[2020-12-31 17:49] ntucker commented on #429
https://resthooks.io/docs/guides/loading-state#loading-buttons does this cover your use case?

[2020-12-31 18:17] ranyefet commented on #454
Hey Nathaniel, the pagination object is the current page.
So when page loads, the pagination in response is:
[code]

When I call fetchMore, the 2nd response pagination is:
[code]

In order to calculate the next `skip` value  I’m adding the current `skip` + `limit`.

I used the debugger but didn't saw anything I haven't already saw in the network tab :(

[2020-12-31 18:20] ntucker commented on #454
Can you trace what the values are in the line `// calculate the next "skip" value `?

And also after `const { data: issues = [], pagination = {} } = data; // pagination is updated` output `pagination`?

[2020-12-31 18:24] ntucker commented on #454
If you want, I can walk through this with you in the discord channel https://discord.gg/uwaSvN3Y

[2020-12-31 18:26] ntucker commented on #449
The reason for two distinct loading trackers is that it would be undesirable when loading 'more' data on a list to show a loading spinner for the whole list instead of just showing the existing items. Because of that two distinct experiences should be created for each case (loading the initial part, and loading more).

[2020-12-31 19:33] ranyefet commented on #454
@ntucker I appreciate the quick response and willingness to help 🥇

[2020-12-31 19:33] #454 closed

[2021-01-05 20:12] Jsarihan opened #458 "useFetcher getter class inheritance issues"
**React version**
16.13.1

**Concurrent mode**
No

**Rest Hooks version**
4.5.5

**Describe the bug**
Getter inheritance not working as expected with useFetcher. e.g. given a class
`ResourceA` and a subclass `ResourceB extends ResourceA`. The object returned by `useFetcher(ResourceB.someShape())` is missing getters from `ResourceA`. This is not an issue with useResource.

**To Reproduce**
Steps to

[2021-01-05 21:47] ntucker commented on #458
I believe this may actually be returning a POJO than a class. Can you verify if it can even use getters in the descendant class from useFetcher()?

Changing this to return the class is planned for v5, which will also guarantee referential equality.

[2021-01-06 03:48] ntucker commented on #415
@graphan  @kreftk https://resthooks.io/docs/next/guides/storybook you can now use [MockResolver](https://resthooks.io/docs/next/api/MockResolver) which should support this use case in [@rest-hooks/test@2.0.0-k.2](https://github.com/coinbase/rest-hooks/releases/tag/%40rest-hooks%2Ftest%402.0.0-k.2)

[2021-01-06 16:24] Jsarihan commented on #458
You're right. Looks like a POJO, all getters are undefined. Thanks for the context

Is this included in the current v5 beta version?

[2021-01-06 19:07] ntucker commented on #458
Not yet. As a workaround, you could do the following for now (assumes running v5 beta):

[code]

[2021-01-06 19:09] Jsarihan commented on #458
Will give that a shot, thank you!

[2021-01-06 19:16] ranyefet opened #460 "Tracking entity freshness and avoiding additional requests"
**React version** 16.13.1

**Concurrent mode** no

**Rest Hooks version** 4.5.9

**Describe the bug**
I have a list component that fetches a list of entities.
When clicking on entity, I navigate to that entity page and fetch that single entity by id.

I noticed there's a network request for the single entity, even if it's already in cache.

**To Reproduce**
Steps to reproduce the behavior:
1. Call

[2021-01-06 19:20] #425 closed

[2021-01-13 18:34] ntucker commented on #458
### Open question

Say a fetch returns an entity that is already in store. In some cases (due to race conditions) you might want to (use the existing entity, because it's actually newer](https://resthooks.io/docs/next/api/SimpleRecord#static-merget-extends-typeof-simplerecordfirst-instancetypet-second-instancetypet--instancetypet) (which can be determined by a timestamp). This already affected wha

[2021-01-13 18:59] praxxis opened #463 "Errors thrown reducing the `RECEIVE_TYPE` action using `useFetcher` are swallowed."
**React version** (e.g., 16.8.5) 16/17

**Concurrent mode** no

**Rest Hooks version** (e.g., 4.5.9) 5.0.0-k.*

**Describe the bug**
If an error occurs while [processing the `RECEIVE_TYPE`](https://github.com/coinbase/rest-hooks/blob/999c8020ffa4f22b3ac2919340883f8c375c4fb8/packages/core/src/state/reducer.ts#L56) action type the promise returned by `useFetcher` is not rejected. An example of how t

[2021-01-13 20:05] ntucker commented on #463
Thanks for the report and detailed description!

[2021-01-13 20:13] ntucker commented on #463
The design here seems related to #458. So we can probably resolve these together.

The handling of errors on reducer that you linked to places them inside the state.  (You can observe this by [inspecting the state](https://resthooks.io/docs/next/guides/debugging).) For declarative binds, this means the components would find the error (https://github.com/coinbase/rest-hooks/blob/master/packages/cor

[2021-01-13 21:27] praxxis commented on #463
Sounds good to me. We've also seen the behaviour described in #458 (returning a POJO) and assumed it was by design, so I'll be following along there too.

[2021-01-14 11:42] Murray2015 opened #465 "Handling poor / no internet connection"
Hi all,

Not marking this as a bug as potentially just my own misunderstanding of the docs. In brief, I’m struggling gracefully failing if internet connection drops out and an update is triggered.

I have a resource as such:

[code]

And I’m wrapping the various components in suspense and NetworkErrorBoundarys.

[code]

The resource works fine until there is an internet connection dropout. At this

[2021-01-14 16:36] ntucker commented on #465
At Coinbase I think we had a https://resthooks.io/docs/next/api/Manager that handled online offline stuff. @nickcherry think you could share a snippet for this use case?

[2021-01-14 16:40] ntucker commented on #429
Closing this since no reply for 14 days and it seems to be covered in docs. Feel free to open if you have suggestions for docs improvements or this doesn't cover your case!

[2021-01-14 16:40] #429 closed

[2021-01-14 23:02] #460 closed

[2021-01-15 01:43] michael-swarm opened #467 "After cache is cleared, some resources are never re-fetched"
**React version** (e.g., 16.8.5)
16.13.1

**Concurrent mode** yes/no
no

**Rest Hooks version** (e.g., 4.5.9)
4.5.9

**Describe the bug**
After resetting the cache (using `useResetter()`), some resources get stuck in a state where they are never refetched, causing any component that depends on them (using `useResource()`) to be stuck in suspense mode.

**To Reproduce**
Steps to reproduce the behav

[2021-01-15 01:56] ntucker commented on #467
Can you try out the v5 rc? This should be fixed there.

[2021-01-15 05:31] ntucker commented on #465
Thanks for the report  Murray!

If you want your app to presume it updated even when the network is down, you can achieve this using [optimistic updates](https://resthooks.io/docs/next/guides/optimistic-updates), combined with a fetch that waits til network connection is restored.

An example of online/offline detection can be found here: https://github.com/coinbase/rest-hooks/blob/master/packages

[2021-01-15 17:08] michael-swarm commented on #467
I tried to upgrade, but it appears to be a non-trivial effort to port my code. Any chance of a fix making into 4.5?

[2021-01-15 21:50] ntucker commented on #467
Behavioral question: in 5 the inflight requests that are rejected show up as thrown errors in components (this way they don't have the suspense problem). I'm curious if this seems like a good behavior or if possibly some other behavior would be better? Perhaps it should restart the fetch instead?

[2021-01-16 23:26] michael-swarm commented on #467
Yeah, restarting the fetch was what I was expecting here. Unless this is different in 5, I assume the error would be handled by a `NetworkErrorBoundary`, so it seems like clearing the cache would show that instead of `Suspense`, forcing the user to reload the page anyway.

Here's my use case, if it's helpful:
- I'm using the page visibility API to reset the cache whenever the page becomes visible.

[2021-01-16 23:27] michael-swarm commented on #467
I should also mention that the login page is outside of the `CacheProvider`, so the `CacheProvider` is unmounted when redirecting to login.

[2021-01-16 23:44] ntucker commented on #467
If CacheProvider is unmounted, how are you getting infinite suspense? Or are there two use cases you're describing here?

[2021-01-16 23:59] michael-swarm commented on #467
The infinite suspense happens after logging back in. Which I suppose means it's a new `CacheProvider` instance, so now I'm really confused...

[2021-01-17 00:15] michael-swarm commented on #467
Ah, ok I see -- the `NetworkManager` [is a singleton](https://github.com/coinbase/rest-hooks/blob/rest-hooks%404.5.9/packages/rest-hooks/src/react-integration/provider/CacheProvider.tsx#L58). Unmounting the `CacheProvider` [only calls `cleanup()` on it](https://github.com/coinbase/rest-hooks/blob/rest-hooks%404.5.9/packages/rest-hooks/src/react-integration/provider/CacheProvider.tsx#L42). This is

[2021-01-17 17:05] Murray2015 commented on #465
@ntucker great, thanks for the quick reply! I'll have a look at those and see what I can get working

[2021-01-20 19:42] ntucker commented on #467
You could manage the lifecycle of the managers yourself to solve this specific problem. However, I'd recommend instead persisting the CacheProvider after logout - and simply calling reset when that happens. If you change components that should avoid any issues.

Regarding v5: Final version recently released https://github.com/coinbase/rest-hooks/releases/tag/rest-hooks%405.0.0
Other than the new b

[2021-01-20 21:15] michael-swarm commented on #467
Congrats on the v5 release!! It seemed to have broken my overridden methods in my Resources, but that might just be due to the TypeScript changes. Thanks for the example, I'll give it another try now that it's official.

Personally, when I actually manually clear/reset the cache, I don't want to get any stale data after that. This use case is a good example why, actually -- if I'm using it to clea

[2021-01-21 01:44] michael-swarm commented on #467
Actually you were right, it was pretty easy to switch to v5, and the bug is indeed fixed there! It was just TypeScript changes, including adding a `schema` to one of my shape overrides to get the type check to pass (which is already mentioned in the documentation). I did notice that the documentation all says `create()`, `delete()`, etc., but the functions still seem to be names `createShape()`, d

[2021-01-21 02:06] ntucker commented on #467
Yup, once you're on v5 you can merrily migrate to the new Resource from `@rest-hooks/rest`. That's what all the new docs reference. The export from `rest-hooks` is just there for legacy reasons to make upgrades ez. :) That export will be deprecated in 5.1 probably.

[2021-01-21 02:08] ntucker commented on #467
Regarding types - I have an explanation going up on docs site soon https://github.com/coinbase/rest-hooks/pull/486/files#diff-0ab0428a5fb5dbcd85cd942fb836a6f6ce5ff7b511a2fddd1e76230f55f3b72a

Use cases:
I was under the impression there were two use cases:
- Logout - where it should def reset cache
- Page becomes visible - where we want to get fresh data

[2021-01-21 18:06] michael-swarm commented on #467
Yes, good point, the two use cases are different in that regard, the stale data might be better for the page visibility case. Maybe it could be an argument to the function? Something like `allowStale: false`.

[2021-01-22 08:17] atefBB commented on #361
Hi @ntucker! Any news about this issue?
`graphql` would be a great addition to the package!

[2021-01-22 16:26] ntucker commented on #361
I agree it would be a great addition. I'm happy to provide assistance or design discussions around any additions - even as simple as starting `@rest-hooks/graphql` package with a GQLEntity member and some basic docs on getting the current form working. However, it's not a priority for the near term for me or the others primarily involved at this time.

We think GraphQL has some great use cases, so

[2021-01-22 20:51] yunyu commented on #458
@ntucker I'm running into a variant of this issue as well, and my vote is for 2). My rationale is:

* For side-effect free useFetcher calls, the return value is almost always ignored. useFetcher is only used to force trigger an update, and useResource is used for display logic (which is always updated with the latest version from the patch).
* For effectful useFetcher calls, there may be additiona

[2021-01-22 21:26] ntucker commented on #458
@yunyu I'm a bit confused, because you talk about denormalized version (which is what useResource() returns  - includes class properties, etc). but then say #2 - which returns the raw fetch response (which won't have classes). Both can have any additional data from the fetch - just one is processed through the cache and the other is the input to that processing.

[2021-01-22 22:10] yunyu commented on #458
@ntucker Sorry, I realized that I was advocating for a 3rd solution (return a denormalized version of the result from the fetch).

[2021-01-23 16:55] michael-swarm opened #492 "Make it possible to bypass expected keys check in v5"
**Is your feature request related to a problem? Please describe.**
Version 5 has [a new check](https://github.com/coinbase/rest-hooks/blob/rest-hooks%405.0.0/packages/normalizr/src/entities/Entity.ts#L69) in development builds that compares the response from the server against the corresponding Entity's schema. This is very helpful in general to find things like misspellings and unexpected respons

[2021-01-23 17:18] ntucker commented on #492
Thanks for the report! This is really helpful in tuning these dev warnings.

Question - for these optional fields, what do you have a default value? Currently the way we mark optional entities is via a null default. We could have undefined or null for any field work as optional potentially.

We could add some kind of property to disable for a given Entity/Resource like `disableSchemaValidation`. T

[2021-01-23 17:35] ntucker commented on #492
Actually I'm curious if you could go into detail on where you have optional members. what kind of data do they have and what are their forms?

[2021-01-23 17:46] michael-swarm commented on #492
Thanks for the quick response!

I was thinking along the same lines, until I realized you might actually want to be able to set a reasonable default in those cases. For example, perhaps "missing" means zero in some API (which isn't such a crazy example, [you can easily configure Jackson to do this](https://fasterxml.github.io/jackson-annotations/javadoc/2.7/com/fasterxml/jackson/annotation/JsonInc

[2021-01-23 18:05] michael-swarm commented on #492
Sorry, just saw this question after I sent my reply! The case I have is a date field, the date represents the time a device was last heard from. If the device is brand new and has never been activated, there is no such date, so the field is empty. Our API happens to represent this by leaving out the field from the response entirely. There are probably plenty of similar cases with dates (e.g. user'

[2021-01-23 21:13] ntucker commented on #492
Looking over the code I'm realizing the missing fields case is only if you have 0 fields and 2 or more fields specified. That's probably not clear from the error. I'm curious if you actually have some fields being returned that you haven't set a default for.

[2021-01-23 21:54] ntucker commented on #492
An idea I have for controls is three levels.

`static memberChecks: Error | Warn | Silent = Error`

[2021-01-23 22:22] michael-swarm commented on #492
I double-checked, and everything has a default. I consistently get an error if I add a property that doesn't have a corresponding field in the response, even if it has a default. I have multiple "unexpected keys", which are just fields I don't care about, and those don't seem to ever trigger an error.

[2021-01-23 22:35] michael-swarm commented on #492
OK, I see the problem actually after a closer read of the code. You're using > 50% of the keys being unexpected as a heuristic for a bad schema. I just happen to have exactly 50% (16 of 32) that I care about, so as soon as I add one more that doesn't match, or if any one of the fields is missing, it breaks.

This is actually pretty surprising behavior, especially since the error wasn't clear about

[2021-01-23 23:43] ntucker commented on #492
Yeah this use case of fields you don't use is totally legit. What I'd really want is if all your fields are found you can have unlimited unexpected fields - but then optional members would break it. An insight I'm seeing here is that the more found members, the more confidence we have that we're matching something - so the more forgiving we can be with unexpected members. Added an *additional* req

[2021-01-23 23:58] ntucker commented on #492
New heuristic for warning vs error - if at least 4 members are found, it will only warn.

[2021-01-24 00:13] michael-swarm commented on #492
Nice! I think that's a good call.

[2021-01-24 05:46] ntucker commented on #428
Thanks for the report. We can probably get something in for the next useFetcher() design.

To understand this use case, can you get back to me if what I say is correct? You have a bunch of Folders with no parent, then you make a new folder with a bunch of children Ids - so those children need the new parent. Instead of having to fetch all those children to get the updated parent you'd like their d

[2021-01-24 05:50] #418 closed

[2021-01-24 05:59] ntucker commented on #416
Since JavaScript does not have multiple inheritance, and you need Resource, you cannot do this out of the box. You could try doing a mixin pattern but that does weird things to types so I'm not sure how useful it will be.

If you want to use a different class pattern - you don't need to use [Resource]() or even [Entity](). All you need to do to get normalization is build something that complies wi

[2021-01-24 06:07] ntucker commented on #285
https://resthooks.io/docs/api/MockResolver (new in @rest-hooks/test v2) solves
- mocking anything (not just GET)
- application to particular subtrees instead of global

Closing this since it works!

[2021-01-24 06:07] #285 closed

[2021-01-24 21:19] #492 closed

[2021-01-24 23:47] ntucker commented on #467
With 5.0.1 released fixing the holdups I'm gonna close this. Feel free to reopen with any other issues!

[2021-01-24 23:47] #467 closed

[2021-01-25 16:34] ntucker commented on #492
@michael-swarm released in 5.0.1!

[2021-01-26 11:58] ranyefet opened #502 "Wrong stale data"
**React version** 16.13.1

**Concurrent mode** no

**Rest Hooks version** 4.5.9

**Describe the bug**

Hey! 👋🏽

I'm getting wrong stale data when changing query parameters.

First request made to:  `/api/issues-filters?`
Returns response `A`.

Second request made to: `/api/issues-filters?severities%5B0%5D=critical`
Returns response `B`.

Third request is back to: `/api/issues-filters?`
There's no

[2021-01-26 17:00] ntucker commented on #502
Can you share what `IssueFiltersResource.filtersShape().getFetchKey()` is?

[2021-01-26 17:17] ntucker commented on #502
PS) If you're able to get onto v5 - https://resthooks.io/docs/guides/debugging is really useful in figuring these things out.

[2021-01-27 08:57] ranyefet commented on #502
This is `getFetchKey`. I'm using [qs](https://github.com/ljharb/qs) to stringify the query params.

[code]

I will try to upgrade to v5 and see if it helps.

[2021-01-27 12:46] ranyefet commented on #502
Ok, I've upgraded to v5 and while upgrading i figured what was the issue.

I was caching the entities of `IssueFiltersResource` response while I should have just cache the entire response since it's a singleton endpoint.

Closing this, thanks!

[2021-01-27 12:46] #502 closed

[2021-01-27 19:36] ntucker commented on #502
@ranyefet just for my curiosity, can you share a sample response from this endpoint?

[2021-02-09 04:11] yunyu commented on #458
There's another context in which this behavior poses a type safety issue. If you fetch a resource with a defined `schema` field (let's say `nestedFoo`), the return value of `fetch` will have a `schema` field of string when it is actually an object. I think that denormalizing by default makes the most sense here (aka the useBetterFetcher behavior above)

[2021-02-21 15:05] erik-stephens opened #550 "Content-Type: application/json is for multipart form uploads"
**React version** (e.g., 16.8.5)

17.0.1

**Concurrent mode** yes/no

no

**Rest Hooks version** (e.g., 4.5.9)

5.0.4

**Describe the bug**

Incorrect Content-Type header when PUT'ing multipart form data - [looks to be hard-coded here](https://github.com/coinbase/rest-hooks/blob/28b79aea6d280aa74abeea1d4d2ab14678edf9de/packages/rest-hooks/src/resource/Resource.ts#L35).

**To Reproduce**

I defined

[2021-02-21 16:02] ntucker commented on #550
Would love to write a test for this to make sure it works. Could you help me by providing what the value of `newPhoto` is? Is it a binary blob?

[2021-02-21 17:02] erik-stephens commented on #550
Yes, a binary blob.  I suspect can reproduce with any payload of multipart form data (not json) - I doubt the binary field is the key.  I forgot to mention in case this detail is important: it was the OPTIONS pre-flight request that was producing that "PayloadTooLargeError".

[2021-02-21 20:49] ntucker commented on #550
Hmm, so I created a test for this only to discover that it was working fine before. I'm not testing OPTIONS though. The main request has `multipart/form-data; boundary=--------------------------562837534142693661170268`

Can you paste the *full* request for OPTIONS and the PUT? (including headers, etc.)

[2021-02-21 20:52] ntucker commented on #550
In case this is an oddity in the fetch mocking in node, can you use this in your Resource and tell me if it changes anything:

[code]

[2021-02-22 00:15] ntucker commented on #550
Tested this in browser and got the same behavior you did. Turns out the polyfill was bugged - updating it made the previous case fail. Will update the PR soon

[2021-02-22 17:36] erik-stephens commented on #550
Thanks for looking into it!  I'll stand by for a release with #552 in it.  Let me know if you prefer me to try it out before cutting a new release.

[2021-02-23 01:58] #550 closed

[2021-02-23 02:19] ntucker commented on #550
Published in https://github.com/coinbase/rest-hooks/releases/tag/%40rest-hooks%2Frest%401.0.3

[2021-02-23 18:27] C94P opened #569 "Type error when using Resource.detail() but not when using detailShape()"
**React version** 17.0.1

**Concurrent mode** no

**Rest Hooks version** 5.0.5

**TypeScript version** 4.1.5

**Describe the bug**
I recieve a type error when using Resource.detail() but not when using detailShape(). The typings indicate that this method is deprecated but I am following along with the Getting Started guide.

Apologies if I have missed this issue being raised already or something g

[2021-02-23 20:08] erik-stephens commented on #550
I updated to 1.0.3 and can confirm that it works.  Thanks again!

[2021-02-23 20:22] ntucker commented on #569
Can you share the implementation of ArticleResource - including import statements? Note, `import { Resource } from '@rest-hooks/rest'` in the docs - Resource importing from the @rest-hooks/rest library rather than 'rest-hooks' library.

[2021-02-23 20:42] brockjgriffin opened #570 "Error: could not find react-redux context value; please ensure the component is wrapped in a <Provider>"
import React from 'react';
import './App.css';
import Header from './Header';
import Sidebar from './Sidebar';
import { BrowserRouter as Router, Switch, Route, Link } from "react-router-dom";
import Mail from './Mail';
import EmailList from './EmailList';
import SendMail from './SendMail';
import { useSelector } from 'react-redux';
import { selectSendMessageIsOpen } from './features/mailSlice';

f

[2021-02-23 21:05] ntucker commented on #570
I think you want to do this: https://react-redux.js.org/introduction/quick-start#provider

The repo for react-redux is here: https://github.com/reduxjs/react-redux

[2021-02-23 21:05] #570 closed

[2021-02-24 13:13] C94P commented on #569
Thanks a bunch for the prompt @ntucker, It's just copy and pasted from the article. I'll be able to get a codesandbox set up for you later today if that's alright with you.

Here's my Article.ts:
[code]

[2021-02-24 16:17] ntucker commented on #569
That would be great, thanks @C94P ! Often a full reproduction example isn't needed because it's clear what the problem is - but in this case I just can't reproduce it myself so it would be helpful getting to the bottom of it.

[2021-02-24 16:41] ntucker commented on #569
Also can you try the just publish @rest-hooks/rest@1.0.4 version and see if this is still a problem?

[2021-02-24 19:45] C94P commented on #569
Gave the latest release a try and still no luck unfortunately.
I have attempted to set up a [codesandbox here](https://codesandbox.io/s/rest-hooks-error-0onof) but it's throwing errors that the module doesn't exist. I'm afraid that's all I can provide at this point, it's set up exactly the same as my minimal test scenario.

Let me know if you have any other suggestions. Could it be related to the

[2021-02-24 20:59] ntucker commented on #569
I got this to work in runtime https://codesandbox.io/s/rest-hooks-error-forked-fn7hh?file=/src/resources/article.ts (the api is not real so it throws an error as expected)

However, somethings borked with codesandbox's typescript stuff so it doesn't really show whether typing works correctly.

[2021-02-27 22:16] ntucker commented on #569
Can you try running https://github.com/ntucker/anansi/tree/master/examples/typescript ? This is an example that uses a real API.

[2021-02-28 09:47] piotr-cz opened #588 "Compatibility with preact"
**React version** (preact 10.5.12)

**Concurrent mode** no

**Rest Hooks version** (e.g., 5.0.6)

**Describe the bug** (This is rather a feature request but IMO it's more appropriate to use bug template)
This package seems to not work with [Preact](http://preactjs.com/) (alternative to React with compatible API).

Problem comes up when wrapping an application with `<CacheProvider>`.
Engine stops r

[2021-02-28 15:32] ntucker commented on #588
Thanks for your interest!

Rest Hooks imports createContext from React itself (listed as a peerDep). Seems like you would need to tell your build system to change all react imports to preact imports?

Would love addition of a unit test as well as docs instructions for usage with preact. I'm happy to fix any reasonable compatibility to pass said test.

[2021-02-28 18:39] piotr-cz commented on #588
Build system I'm using ([WMR](https://github.com/preactjs/wmr)/ [Rollup](https://rollupjs.org/)) is already configured to alias `react` to `preact/compat`.
Same in the [codesandbox example](https://codesandbox.io/s/blissful-http-8mbng), although it uses webpack.

I'm using [SWR](https://github.com/vercel/swr) in same setup without any issues even that it's also using react as peer dependency.

Iss

[2021-02-28 20:04] ntucker commented on #588
I downloaded a zip of the codesandbox, when i run `yarn start` I get this:

[code]

Is there something weird with the tooling maybe?

[2021-02-28 20:24] ntucker commented on #588
I don't find `useContext` anywhere in the node_modules of preact/compat. Are hooks only supported in a beta version of preact?

[2021-02-28 20:27] ntucker commented on #588
According to https://www.npmjs.com/package/preact-compat - it's only for outdated versions of preact, which is probably why it doesn't have hooks.

[code]

The config in codesandbox has:

[code]

[2021-02-28 20:27] piotr-cz commented on #588
yeah, they are: https://preactjs.com/guide/v10/hooks#usecontext

Maybe this would be helpful: https://preactjs.com/guide/v10/switching-to-preact

[2021-02-28 20:28] ntucker commented on #588
Right, but preact-compat is version 8, you need to have `preact/compat` instead of `preact-compat`

[2021-02-28 20:37] piotr-cz commented on #588
Ah, seems that the codesandbox template ships with outdated packages

[2021-02-28 20:43] ntucker commented on #588
Got the codesandbox to work by doing two things:

- upgradeing the cli from 1 to 3
- targetting an actual dom node in render `render(<My />, document.body);`

'root' wasn't actually on the page

[2021-02-28 20:53] piotr-cz commented on #588
Yeah, I've done the same in meantime and it does build and render now.
That would mean the problem is when using Rollup instead of Webpack.

I'll come back to that tomorrow.
Thank you for taking time to look at it. At least we know react-hooks may work with preact.

[2021-03-01 02:22] ntucker commented on #588
Gonna close this for now since it seems to work. Would love any docs contributions on getting start with the library in Preact! :)

[2021-03-01 02:22] #588 closed

[2021-03-02 11:45] skoging opened #607 "useStatefulResource: data always inferred as any"
`@rest-hooks/legacy`: 2.0.4
`typescript`: 4.1.3

**Describe the bug**

The return type of `useStatefulResource` is always inferred as `{ data: any, loading: boolean, error: ... }`

**To Reproduce**
https://codesandbox.io/s/nifty-snowflake-er0x4?file=/src/App.tsx

**Expected behavior**
The data field of the return type should be correctly inferred as `TodoResource | undefined`

**Additional context

[2021-03-03 12:31] piotr-cz commented on #588
I'm sorry, the issue is not resolved.

Compatiblity with Preact may be achieved only in projects created with [preact-cli](https://github.com/preactjs/preact-cli) (I assume it's compiling vendor packages with own babel config and does other tweaks).

I've prepared issue reproduction project here: [preact-rollup-react-jsx-transforms](https://github.com/piotr-cz/preact-rollup-react-jsx-transforms).

[2021-03-03 12:46] piotr-cz opened #611 "Unable to clone repo on Windows"
**React version** (e.g., 16.8.5)
N/A

**Concurrent mode** yes/no
N/A

**Rest Hooks version** (e.g., 4.5.9)
N/A

**Describe the bug**
It's not possible to clone this repository on Windows

**To Reproduce**
Steps to reproduce the behavior:
1.  ```console
    git clone https://github.com/coinbase/rest-hooks.git
[code]
    Cloning into 'rest-hooks'...
    remote: Enumerating objects: 976, done.
    re

[2021-03-03 13:01] piotr-cz commented on #611
What is the puprose of the `*:Zone.Identifier` files?
I can't find any reference in codebase to these.

Looks like these are some Gmail attachment artifacts which are safe to remove

[2021-03-03 15:06] ljharb commented on #588
It’s quite secure to rely on node globals - a node module bundler that does not provide them is broken.

[2021-03-03 15:17] #611 closed

[2021-03-03 15:36] piotr-cz commented on #588
@ljharb
What is the reason to use `global.requestIdleCallback` instead of `window.requestIdleCallback`?

[2021-03-03 15:44] piotr-cz commented on #588
Ah, it's probably because jest is [configured](https://github.com/coinbase/rest-hooks/blob/654f990874dfef404a5dd591868014d8f0f45797/jest.config.js#L80) with `testEnvironment: 'node'` instead of `jsdom`

[2021-03-03 18:29] ntucker commented on #611
These show up sometimes when I download zip from codesandbox.io. Haven't seen them elsewhere. Maybe it's a mac thing? Not sure

[2021-03-03 18:32] ntucker commented on #588
node doesn't have window. I believe globalThis is now the canonical way of referring to such things, so perhaps this should change. This would break older integrations however as globalThis is somewhat new.

@piotr-cz can you open a new issue to track these new things? Also I'm a bit confused about which usage of the jsx transform will work with preact. I'm hoping it's the new version as I hope to

[2021-03-03 18:46] ljharb commented on #588
You can use https://npmjs.com/globalThis to maintain support, but indeed, global is the proper thing to use, and webpack 5 has intentionally broken its core use case by not doing this by default.

[2021-03-03 20:02] ljharb commented on #588
I suppose you could do a conditional require, but generally speaking you can't avoid code size increases when maintaining support for older versions of things.

In this case, `requestIdleCallback` is already a global variable when present, so `const rIC = typeof requestIdleCallback === 'function' && requestIdleCallback;` would handle it with no direct reference to the global.

[2021-03-03 20:41] ntucker commented on #588
Hmm, does `const rIC = typeof requestIdleCallback === 'function' && requestIdleCallback; ` work in React Native? Trying to figure out why I did it this way

[2021-03-03 20:52] ljharb commented on #588
If it's a global variable there, it should.

The only reason I can think of to use `global.` is because you ran into the ReferenceError in node, and that's one way to avoid it. The `typeof` is another.

[2021-03-03 21:00] #607 closed

[2021-03-03 21:01] ntucker commented on #588
Ah, I now realize it's because https://github.com/microsoft/TypeScript/issues/40807. I can just add the libdef myself so this won't be a problem.

[2021-03-03 22:04] ntucker commented on #588
@piotr-cz When using rollup you can define process via https://github.com/coinbase/rest-hooks/blob/master/packages/rest-hooks/rollup.config.js#L44

Though I don't think rollup is intended for actual projects, but just to build libraries.

[2021-03-04 08:37] piotr-cz commented on #588
@ntucker
I'll open a pull request that will address the jsx transforms for preact issue.
If you are interested, I've written an explanation here: https://github.com/piotr-cz/preact-rollup-react-jsx-transforms#components-wrapped-in-vendor-package-component-dont-render

For handling globals, it's fairly easy to replace them as you noted.

Actually I'm  using Rollup as a web app bundler for few years

[2021-03-08 10:40] skoging opened #636 "Attempted import error: 'DevToolsConfig' is not exported from './DevtoolsManager'."
**Rest Hooks version** (e.g., 4.5.9)
 rest-hooks: 5.0.8 and 5.0.9

v5.0.7 works as expected.

**Describe the bug**

[code]

I think this is a problem with the build output, the source code looks good.

[2021-03-08 14:35] skoging opened #637 "Denormalization fails if nested entity lists are intended to be optional"
**React version**
17.0.1

**Concurrent mode** no

**Rest Hooks version** (e.g., 4.5.9)
rest-hooks: 5.0.9
@rest-hooks/rest: 1.0.4

**Describe the bug**
I'm trying to set up a resource with a nested list of entities that is intended to be optional.
[code]

Responses where `things` is not defined are normalized as expected, when inspecting the state with redux devtools everything is as expected. The

[2021-03-08 15:23] #636 closed

[2021-03-08 15:23] ntucker commented on #636
Fixed in #619

[2021-03-08 15:35] ntucker commented on #637
Currently the only way to mark members as optional is to set their default to `null`: https://resthooks.io/docs/api/SimpleRecord#optional-members

If you want to not always send a field, but for it to always exist - you can change the `fromJS()` method to add an empty list fallback.

[code]

[2021-03-08 19:28] jaggaer-nkrunic opened #638 "NetworkManager error when using ExternalCacheProvider"
Hi,
we've been using rest-hooks v4 for some time now and it's been working quite well for us so far and today we wanted to update to v5 but not everything works after doing the upgrade.
We have followed upgrade guide and migrated everything as described there. However, looks like there are some changes in v5 which are not properly documented.

First we hit the wall with NetworkManager and reducer

[2021-03-08 19:39] ntucker commented on #638
Thanks for the report @jaggaer-nkrunic ! Excited to resolve this and get you on v5 as soon as possible!

1. Updating the docs now, and adding to migration guide
2. Fixed in #619 will release later today
3. Good catch - our tests don't nest the data so we didn't test this. Will fix and add in regression test.

[2021-03-08 21:31] ntucker commented on #638
Curious which you think might be better designs to resolve #3

## Solutions to third problem:

### Custom applyMiddleware

This would take managers, and middleware. Managers would apply selector, middleware would not.

[code]

### Pass selector to getMiddleware

[code]

[2021-03-08 22:54] ntucker commented on #637
Would love to hear proposals of alternative ways this might be specified

[2021-03-09 01:22] jaggaer-nkrunic commented on #638
Hey, thank you for your quick response and for looking into this.
As for design suggestions, i would discard #1 solution because it would break compatibility with redux-toolkit.
Speaking of which, i like their approach by having `getDefaultMiddleware(options)` function which returns default middleware and takes options where you can exclude middleware you don't want or pass extra argument to it, w

[2021-03-09 01:53] ntucker commented on #638
@jaggaer-nkrunic Yes, this makes sense. Thanks for the insights. I'll go with the simpler version of #3 for now, and if you could create a feature request for the createReduxMiddleware() like getDefaultMiddleware() concept, we could eventually get around to providing that as well!

[2021-03-09 07:33] skoging commented on #637
I think it's unfortunate that default values cannot be used as they're intended in TypeScript. This workaround for specifying optional values is quite clunky and unintuitive.

I'd expect the required/optional relationship to be the reverse, as it is it would be in function arguments. My intention when setting default value is to ensure there always is a value when the input is optional.

Intuitive

[2021-03-09 07:36] skoging commented on #637
Is this only used for the automatic validation of response shapes?

[2021-03-09 21:08] #638 closed

[2021-03-10 17:36] ntucker commented on #637
One of the core principals of Rest Hooks is that the server is the source of truth.

Because of this, the default use case is simply reflecting what the server sent - and being able to distinguish between server sending and not sending something is a legit use case (you might want to execute different code if something is not provided). Given that, Entity defaults are provided to ensure the expect

[2021-03-10 17:40] ntucker commented on #637
If we make optional the default, and special syntax for required the most obvious way might be:

[code]

But then we have difficulty making sure only things in the required member are actually members.

More ideally if javascript supported proper metaprogramming we could use field definitions like the classic ORM concept:

[code]

[2021-03-10 17:44] ntucker commented on #637
Just had another thought - if we overload the use of schema we can add aribtrary concepts to it.

[code]

[2021-03-10 20:11] ntucker commented on #638
@jaggaer-nkrunic Fixed released in [5.0.11](https://www.npmjs.com/package/rest-hooks/v/5.0.11), https://resthooks.io/docs/guides/redux docs updated.

[2021-03-24 08:37] saaymeen commented on #569
I happened to come across the same typescript problem recently, with exactly the same symptoms as @C94P. I am on `@rest-hooks/rest@2.0.2` and `rest-hooks@5.0.13` with `typescript@4.2.3`. I tried to create a codesandbox, but it really seems like their typescript is weird anyway. My same setup on codesandbox could not reproduce this issue however.
I use the `useResource` hook provided in the `rest-h

[2021-03-24 19:33] ntucker commented on #569
@saaymeen Thanks for sharing! Do you think you can get a reproduction in a sample repo on github that we can clone instead? Maybe with one of the bad Resources and the tsconfig. Would love to be able to figure out what's going on, but I haven't been able to experience this myself so sort of at a loss for now.

Also if you could try using the same shape with [useCache()](https://resthooks.io/docs/a

[2021-03-24 21:32] ntucker commented on #569
I have a theory...please reopen if this doesn't work

[2021-03-24 21:32] #569 closed

[2021-03-24 22:14] ntucker commented on #569
@saaymeen try upgrading to https://github.com/coinbase/rest-hooks/releases/tag/%40rest-hooks%2Fendpoint%401.0.8 and see if it persists

[2021-03-24 22:53] lachiet opened #680 "Cache isn't merging newly received data"
**React version** (e.g., 16.8.5)
16.13.1

**Concurrent mode** yes

**Rest Hooks version** (e.g., 4.5.9)
5.0.0-k.3 (also tested with latest version)

**Describe the bug**
Rest-hooks cache isn't merging newly received data. Specifically a boolean property.

The property that isn't being updated:
[code]

This property is only returned from the API when `rejected:true`, otherwise it will be undefined.

[2021-03-24 23:01] ntucker commented on #680
Can you provide your full Resource and Endpoint definition? Including any classes in the hierarchy that aren't from rest hooks itself?

[2021-03-24 23:03] ntucker commented on #680
Have you tried https://resthooks.io/docs/guides/debugging if so can you screenshot the receive action for when you expect the update?

[2021-03-24 23:07] ntucker commented on #680
This sounds like the data being sent is not actually including the rejected, and thus if you use the default merge function it will persist the old one. If you simply want to replace the entire copy (which only works if you always return full data - never partial data), you can use the following merge function:

[code]

[2021-03-26 18:53] ntucker commented on #569
@C94P @saaymeen - if you have time, can you validate release 5.0.15 of rest-hooks? 🙏

[2021-03-26 18:54] ntucker commented on #680
@lachiet did this approach work for you?

[2021-03-26 19:16] mesca216 opened #687 "Msc"
**React version** (e.g., 16.8.5)

**Concurrent mode** yes/no

**Rest Hooks version** (e.g., 4.5.9)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional con

[2021-03-26 19:20] #687 closed

[2021-03-29 08:39] saaymeen commented on #569
Does not seem to resolve the issue for me. I bumped the version on my [example repo](https://github.com/saaymeen/rest-hooks-shape-type-issue), but the issue persists. Changing `strict` to `true` in tsconfig.json removes the error, but leaving it on `false` will still trigger it.

[2021-03-29 12:00] graphan opened #694 "Publish usePaginator hook unit tested"
**Is your feature request related to a problem? Please describe.**
You have a nice example in docs how to create a `usePaginator` hook: https://resthooks.io/docs/guides/infinite-scrolling-pagination#create-pagination-hook
It resolves a repetitive problem, so I think it would make sense to include it into rest-hooks and publish it unit-tested.

**Describe the solution you'd like**
Publish it as par

[2021-03-30 16:09] mesca216 opened #702 "Cb"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-30 16:09] #702 closed

[2021-04-03 23:22] ntucker commented on #680
Closing as no response indicates it worked. If this is not true please report new issue.

[2021-04-03 23:22] #680 closed

[2021-04-05 03:38] #637 closed

[2021-04-05 03:45] ntucker commented on #637
@skoging Can you validate with the latest beta: 5.0.17-beta.0? Want to make sure it works as intended before I launch more broadly.

[2021-04-06 00:42] ntucker commented on #569
@saaymeen 5.0.16 seems to work on the repo now

[2021-04-07 21:38] saaymeen commented on #569
I can confirm that 5.0.16 solves the issue. Thank you lots for your time and dedication!

[2021-04-08 13:43] skoging opened #722 "schema.Values not denormalized"
**React version** (e.g., 16.8.5)

**Concurrent mode** yes/no

**Rest Hooks version** (e.g., 4.5.9)

**Describe the bug**
I'm attempting to model an endpoint that returns a dictionary of resources. I've defined a custom endpoint on my resource where I override schema with `new schema.Values(this)`.

The normalization works as expected, but the output from `useResource` is not denormalized.

**To Re

[2021-04-08 14:10] skoging commented on #637
Will do 👍

[2021-04-08 18:44] ntucker commented on #722
Really great example, thanks! Should make this much easier to solve

[2021-04-08 21:43] #722 closed

[2021-04-09 14:54] skoging commented on #722
I'm still having some issues when testing this fix. Now the problem is that request is never triggered.

I think the issue has to do with handling of expiry time in `useDenormalized`. With no existing response, the call to [`denormalize`](https://github.com/coinbase/rest-hooks/blob/848e63f3f600ee639a7d941d855eb91047f51881/packages/core/src/state/selectors/useDenormalized.ts#L91) return `value: {}`

[2021-04-09 15:27] ntucker commented on #722
This is good info - should be able to get to bottom of it with this. Thanks!

[2021-04-09 17:19] ntucker opened #731 "Compositional parallel suspense"
## useAll() - like Promise.all() for suspense

[code]

### Why

Currently one can do parallel requests with useResource() by sending variable tuples of normal useResource() arguments.

[code]

This is problematic for various reasons
- Not very discoverable
- Makes typing arguments very complicated and obfuscates the errors when types are enforced
- Makes composition of useResource() very challengi

[2021-04-09 17:42] ljharb commented on #731
This seems very prone to people accidentally breaking the rules of hooks.

[2021-04-09 17:42] ntucker commented on #731
How so? It actually seems to solve that problem from what I've seen.

[2021-04-09 17:45] ljharb commented on #731
I can’t come up with a concrete example - it certainly solves that problem in your examples - but i worry about otherwise-innocent refactors, especially if it’s implied that it follows Promise semantics.

[2021-04-09 17:48] ntucker commented on #731
To be clear this would effectively have the same behavior, just be expressed in a better way. One of the biggest problems with the current approach is that if people change the number of arguments it breaks the rules of hooks - but that's not exposed because they are simply changing args. It's a dirty, dirty thing.

In this case, we expose the repetition nature with actual hooks so if they try to

[2021-04-09 18:09] ljharb commented on #731
That's true; this seems like a strict improvement over the current approach.

[2021-04-09 18:35] ntucker commented on #731
Given useAll is not operating on promises - it's sort of like promise.all + await.

Perhaps then the useAwait() concept would be more intuitive?

[2021-04-09 18:44] ljharb commented on #731
I think `useAwait` implies promises semantics (which don't follow the rules of hooks consistently) way more strongly than `useAll`.

[2021-04-09 18:48] ntucker commented on #731
promise semantics vs rules of hooks - I'm curious if you can think of any examples of contradictions here? Goal is obviously to make things not break expectations so the more clarity around specifics the better.

[2021-04-09 19:15] ljharb commented on #731
Meaning, if it's promises, I expect `await` or `.then` usage, and to be able to use a hook after/inside those, which would violate the rules of hooks.

[2021-04-09 19:24] ntucker commented on #731
In my experience using both await and .then() together is not very common. Matching await semantics would be consistent here. Using hooks after suspense is not a violation (even tho in a previous version of react it was reported as such, they have since removed that bug). Hence how [sequential](https://resthooks.io/docs/api/useresource#sequential) requests work

[2021-04-09 19:26] ljharb commented on #731
`await fetch(…).then(x => x.json())` is quite a common pattern :-) but i'm not talking about mixing.

I did not realize that calling a hook after `await` was acceptable; i don't understand how that can possibly comply with the rules of hooks (ie, unconditionally calling the same hooks in the same order every time).

[2021-04-09 19:28] skoging commented on #637
I can confirm that this works as expected.

There are some resources with lots of optional properties (declared as `prop?: string;` for instance) without  a default value that cause validation errors when a certain number of them are present in the response, since they are considered "unexpected". Do these have to be declared with a `null` default to work? In any case I can easily get around that

[2021-04-09 19:29] ntucker commented on #731
Same order must be preserved, but hooks not previously caused due to suspense are allowed. I think this is not mentioned since suspense is still not 'officially supported' in the context of hooks. (Why mention something you don't want people to use in docs)

[2021-04-09 19:31] ntucker commented on #731
For `await fetch(…).then(x => x.json())` - ya, that's why I was thinking the useAwait() case would seem to match your expectations more since you can do:

[code]

[2021-04-09 19:32] ljharb commented on #731
as long as nobody tries to nest a hook call inside the `.then`, or inside any callback, it'd ofc be fine - i'm mildly concerned that someone would be more likely to make such a refactor if they think of the arguments to `useAwait` as normal promises (as opposed to hook calls)

[2021-04-09 19:33] ntucker commented on #731
hook calls inside *any* function, callback, etc (not top level) are not allowed. This is very obvious to see, and is just as easy to observe both as a human or computer as any other case.

[2021-04-09 22:10] ntucker commented on #637
Hmmm....you could also make the default 'undefined'. Unless we add a compiler component, there's no way for the runtime to know a prop was declared. Though that might be an interested project. Eventually [class static block](https://babeljs.io/docs/en/babel-plugin-proposal-class-static-block) can help with some of this. Disabling can certainly cover these cases. The reason this exists is because i

[2021-04-09 22:10] ntucker commented on #731
Given the new information, which do you prefer @ljharb - useAwait, useAll, something else?

[2021-04-09 22:13] ljharb commented on #731
Either way, the hook would only work if the arguments passed to it were all hooks *that returned a promise*, or were synchronous?

[2021-04-09 22:20] ntucker commented on #731
useAwait() takes promises (like await statement). Not a promise would throw an error.

useAll() takes suspending hooks. A hook that doesn't suspend wouldn't be noticed as its values would simply pass through. (after a hooks suspends, it doesn't. so a hook that never suspends is fine). Simply returns the values as a tuple from the arguments. Hmm, just realized we'd need to call it from within the h

[2021-04-09 22:32] ljharb commented on #731
I like something taking promises; i don't think `useAwait` is a good name.

[2021-04-09 22:44] ntucker commented on #731
Other name ideas? What don't you like about use await name?

[2021-04-09 22:54] ljharb commented on #731
`await` implies that it operates on a single promise. this is multiple hooks, which don't actually return promises, they either suspend or don't.

`useSuspendingHooks`?

[2021-04-09 22:57] ntucker commented on #731
err, I thought we were talking about the useAwait() - which takes a promise (or more). useAll() is the one that takes hooks that don't return promises.

[2021-04-09 23:17] ljharb commented on #731
lol sorry, this is all a bit complex :-)

hooks aren't generally supposed to return promises, so it seems a bit weird to me to go with that approach.

[2021-04-10 03:17] ntucker commented on #722
@skoging Coming soon: https://github.com/coinbase/rest-hooks/pull/732

[2021-04-10 09:55] skoging commented on #637
I figured that was the case, and it does make sense.

On Sat, Apr 10, 2021, 00:10 Nathaniel Tucker ***@***.***>
wrote:

[2021-04-12 07:40] skoging commented on #637
@ntucker Any chance this could be released soon?

[2021-04-12 09:08] skoging commented on #722
Great! That worked 👍

[2021-04-12 13:17] ntucker commented on #637
Just released new versions. Would have done last night but my internet died just before going to sleep.

[2021-04-17 16:41] ntucker opened #760 "RFC: useNewFetcher()"
Would love feedback @dair-targ, @smith-it @Jamakase @Secretmapper @Jsarihan @yunyu @praxxis @zacharyfmarion @kmartinezmedia

## Motivation

Fixes #463, #458, #428, #316, #358

Lots of improvements can be made to useFetcher() design - both based on understanding of use cases, as well as evolution of interfaces like [Endpoint](https://resthooks.io/docs/api/Endpoint).

Providing a new hook allows for

[2021-04-17 17:10] ntucker commented on #463
Tracking solution in https://github.com/coinbase/rest-hooks/issues/760

[2021-04-17 17:10] #463 closed

[2021-04-17 17:11] ntucker commented on #458
Tracking solution in https://github.com/coinbase/rest-hooks/issues/760

[2021-04-17 17:11] #458 closed

[2021-04-17 17:11] ntucker commented on #428
Tracking solution in https://github.com/coinbase/rest-hooks/issues/760

[2021-04-17 17:11] #428 closed

[2021-04-17 17:15] ntucker commented on #316
RFC to fix this and others in https://github.com/coinbase/rest-hooks/issues/760

[2021-04-17 17:15] #316 closed

[2021-04-17 17:18] ntucker commented on #358
https://github.com/coinbase/rest-hooks/issues/760 allows for full entity changes rather than just primary keys. Tracking this in new design there.

[2021-04-17 17:18] #358 closed

[2021-04-22 03:14] ntucker commented on #760
@praxxis Thanks for the response. Updated the description pretty heavily - both based on your questions and some evolution of my thoughts. Also reorganized the post to clearly delineate each change in its own section.

[2021-04-23 21:10] sweetro commented on #760
Adding an instance I encountered where a two stage promise would be helpful. This is within a modal that deletes a resource and closes on delete success.

[code]

In this case, the component is still mounted when the delete completes, so `useResource` refetches, deterministically triggering a `400`. A two stage promise should allow the component to unmount when the request succeeds but before the

[2021-05-17 01:47] ntucker commented on #760
@sweetro This is very unexpected. It should be resolving that promise before the state is updated - unless you're using optimistic updates? If optimistic updates are used you'll want to just rearrange the lines:

[code]

[2021-05-18 14:29] k4rli opened #831 "Demo sandbox is broken"
Demo sandbox doesn't exist.

"Sandbox not found"

[2021-05-19 10:51] uxxman opened #836 "Axios as Custom Networking Library for V5"
Hi,

I am in process of upgrading awesome rest-hooks from v4 to v5 and based on the new docs, resource is imported as

[code]

Since, I am using axios in my project, the example listed for axios still targets the old SimpleResource from 'rest-hooks'. Since the signature of fetch has changed, can you provide an updated example for this.

REF: https://resthooks.io/docs/guides/custom-networking#axios

[2021-05-19 23:49] ntucker commented on #831
Dang, I'll try to see if I can get it back. In the meantime, here's a better demo for rest hooks itself: https://codesandbox.io/s/rest-hooks-todo-example-lwehp which is taken from https://github.com/Rest-Hooks/todo-example

I'll update the site to point to these

[2021-05-20 19:57] ntucker commented on #836
This should work:

[code]

Recovering from my 2nd COVID shot, so I'll have to update the docs later - but this should get you unblocked.

[2021-05-20 22:40] uxxman commented on #836
@ntucker Thanks, helpful as always :)

[2021-05-20 22:40] #836 closed

[2021-05-23 20:27] #831 closed

[2021-05-25 14:34] ntucker commented on #694
Will have something soon.

[2021-05-30 04:37] #694 closed

[2021-05-30 12:32] uxxman opened #876 "List vs Detail Resource Issue (V5 upgrade)"
**React version** 16.13.1

**Concurrent mode** no

**Rest Hooks version** 5.1.1
**@rest-hooks/rest** 2.1.2,

**Describe the bug**
Most rest APIs have the strategy of showing limited attributes per item for List page while showing detailed attributes with associations for the Details page, e.g

/posts
[code]

/posts/1
[code]
So, a separate request must be sent when viewing the detail page. This was

[2021-05-31 18:18] ntucker commented on #876
Thanks for the report! I have some ideas and would love your input.

### Context

In Rest Hooks 5, we started tracking entity expiry data (in `entityMeta` part of state), which enabled us to apply the TTL policies on a per entity basis. This means when entities are already found - like in the case of going from a list to detail page, we could avoid an extra fetch call. While avoiding the fetch is

[2021-05-31 19:31] uxxman commented on #876
Thank you for the response.

From what I understand so far, I think the solution of specifying/checking missing/found fields will be a bit cumbersome, especially if the list is long or when we frequently add/remove fields from the underlying Resource definition.

### Solution 3

How about having a config **incomplete** which is false by default so everything keep working like it is currently and w

[2021-05-31 20:02] ntucker commented on #876
I'm wary tying this to endpoints, since it has to do with now normalization works. Based on your design, what do you think about:

[code]

[2021-05-31 21:26] uxxman commented on #876
[code]

This would be ideal if this can ensure that the next detail request will make the api call, i.e.

[code]

[2021-06-01 14:36] ntucker commented on #876
Working on something. ETA is a week from now. No promises tho.

[2021-06-01 14:49] uxxman commented on #876
Much appreciated 👍🏻

[2021-06-02 17:17] SalttySugar opened #888 "question: how to use immediate mutations in more DRY way?"
Hello everyone!
I have specific endpoint for entities amount retrieval and i am struggling to make immediate mutation changes in DRY way.
I have read the documentation and i know about updateParams but it in my case i will be forced to write it after every mutation

maybe there is a way to extend/override endpoints and make them reflect changes the way updateParams does?

[2021-06-08 09:22] careless10 opened #902 "Nullish coalescing, Issue"
**React version**
16.13.1

**Concurrent mode**
no

**Rest Hooks version**
5.1.3

**Describe the bug**
[code]

**To Reproduce**
Upgrading from 4.5 -> 5.1.3
On a CRA project with (react-scripts:4.0.3)

**Expected behavior**
As Nullish coalescing is already working on my project i expect this to pass, but im not sure about how babel is handling this

**Additional Context**
The babel-loader that the i

[2021-06-08 15:21] ntucker commented on #902
Thanks for the report! It's super clear so we should be able to resolve soon.

[2021-06-08 20:58] ntucker commented on #902
Wow, I just realized how crazy it is that shipped features for years in browsers and CRA can't even parse the files. I'm gonna try fixing the target for stuff in "module" so rather than being reasonably old it just targets a standard that even non-updating libraries like CRA will be able to read.

[2021-06-09 20:40] #902 closed

[2021-06-09 21:00] ntucker commented on #902
Just released 5.1.4 with the fix. Verify if it works now?

[2021-06-10 05:52] careless10 commented on #902
Yep, like a charm, Thank you
For anyone facing this issue, if upgrading is not working please delete the package from node_modules
and reinstall it again

[2021-06-13 01:37] ntucker commented on #876
## Updates here:

Disabling results inferencing altogether: Simply override your Entity/Resource's static infer method to return undefined.

This is the provided implementation that does the previous behavior

[code]

You'll need the latest release 5.2 for this.

This won't be exactly what you want - which is stale-while-revalidate. If you disable this it will just revalidate but not show stale da

[2021-06-13 10:56] careless10 opened #918 "Delete discarding response?"
**React version**
16.13.1

**Concurrent mode**
no

**Rest Hooks version**
5.1.4

**Describe the bug**
When dealing with 'delete()' resource function, the response is discarded, so for example if the response is
[code]
i get the params that i sent as a response, this behavior seems to come
[code]
in the delete entity function

Now honestly im not quite sure how i am supposed to deal with the messag

[2021-06-13 19:49] ntucker commented on #918
### Background - this is the default delete (from https://github.com/coinbase/rest-hooks/blob/master/packages/rest/src/SimpleResource.ts#L272):

[code]

The [Delete schema](https://resthooks.io/docs/api/Delete) needs to know which entity to delete, so it requires the primary key (typically 'id') in the response. Many REST-like APIs don't even return a value on delete, so the default implementation

[2021-06-14 05:32] careless10 commented on #918
Thank you @ntucker , you been super helpful.

[2021-06-14 05:32] #918 closed

[2021-06-14 22:26] #876 closed

[2021-06-14 23:03] uxxman commented on #876
@ntucker sorry couldn't check it our before. Just saw the PR 920, the solution looks interesting. Will give it try this week. Thank you again for the awesome work 😍

[2021-06-16 13:10] ntucker commented on #288
New design thoughts:

- function attached to endpoints that takes error (users can look at error.status)
- possible policies
  - always throw
  - throw if stale
  - only throw if no results
- should retries be a possibility? if so what would dictate the retry policy

[2021-06-16 13:39] uxxman commented on #288
Retrying would not be much useful for errors that should be thrown .i.e 404, 401, 403. Error handlers should catch and handle them accordingly.

500 (server reachability) errors can make use of retries, since they can keep showing the old stale data.

[2021-06-16 13:56] ntucker commented on #288
Ya I imagine the default policy would be 4xx -> throw, 5xx -> retry x times then try to use stale data.

Also now that I think a bit more it might be best to just have this be defined at NetworkManager level

[2021-06-16 14:06] uxxman commented on #288
Sounds good 😌

[2021-06-20 23:00] #421 closed

[2021-06-28 06:57] #288 closed

[2021-06-30 22:50] uxxman commented on #288
Thanks and great work as always :) will surely try it out

[2021-07-10 03:44] hkar19 opened #1026 "Starting example todo-app failed"
everything here is based on commit https://github.com/coinbase/rest-hooks/commit/8a645ce122520cc2e0f92369b0c3b20476119756

**Describe the bug**
the test-app does not run in fresh install.

**To Reproduce**
Steps to reproduce the behavior:
1. Cloned react-hooks using this commit https://github.com/coinbase/rest-hooks/commit/8a645ce122520cc2e0f92369b0c3b20476119756
2. go to `examples/todo-app`
[code

[2021-07-10 04:23] ntucker commented on #1026
For now try from root:

[code]

then in the todo folder

[code]

The dev mode part will be fixed soonish but doesn't work currently

[2021-07-10 08:30] hkar19 commented on #1026
this is what i got after following your instruction:

[code]

[2021-07-11 20:09] ntucker commented on #1026
I realize now the instructions were wrong:

from fresh install

[code]

Then visit localhost:5000

[2021-07-12 05:45] ntucker commented on #1026
Update: dev mode should work as well as long as react refresh is disabled. See the new README.md in todo-app dir for directions. Awaiting https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/445 for react refresh fix.

[2021-07-28 19:44] ntucker opened #1071 "Redux-devtools: Don't show throttled fetches"
These can end up being kinda spammy

[2021-07-28 20:03] ntucker opened #1072 "RESET should prevent resolve/rejection of inflight promises"
In resolve/reject function, check for existence in inflight requests *or* using abortcontroller.

Note: this means non-throttle requests will need some form of bookkeeping

[2021-07-28 20:05] ntucker opened #1073 "Errors thrown during user-run update should be surfaced"
Currently not rejecting the main promise, or showing up in console logs. Only shows itself after inspecting the state

[2021-08-02 20:30] #1071 closed

[2021-08-02 20:44] #1073 closed

[2021-08-08 23:59] rallieon opened #1101 "Adding auth header causes React error"
**React version** (e.g., 16.8.5)
18.0.0-0

**Concurrent mode** yes/no
Not sure

**Rest Hooks version** (e.g., 4.5.9)
5.3.3
@rest-hooks/rest version is 2.1.4

**Describe the bug**
I am trying to create a base resource to perform authentication using a bearer token like the example [here](https://resthooks.io/docs/guides/auth#auth-headers-from-react-context). However, I am receiving the following er

[2021-08-09 20:30] ntucker commented on #1101
Thanks for the detailed report - it will make diagnosing this much easier. Will look into this later today.

[2021-08-12 20:09] frederikhors opened #1113 "For Svelte too?"
I would very much like to hear that there is a version of this splendid project for Svelte! I beg you! Tell me it exists!

[2021-08-16 00:29] ntucker commented on #1113
There is currently nothing, however most of the library is react agnostic, and we are currently working on pulling out most of the rest of the core logic so the react-specific part is very small.

If you know anyone interested in developing a svelte version we would be happy to collaborating and helping as we can!

[2021-08-16 08:07] frederikhors commented on #1113
As soon as you create a core part I can help with the Svelte version.

[2021-08-18 21:43] #1101 closed

[2021-08-18 22:00] ntucker commented on #1101
Fixed in [@rest-hooks/rest@2.2.0](https://www.npmjs.com/package/@rest-hooks/rest/v/2.2.0) @rallieon

[2021-08-19 10:28] rallieon commented on #1101
@ntucker Thank you!

[2021-08-21 03:52] #1072 closed

[2021-08-31 04:58] #1026 closed

[2021-08-31 16:39] ntucker commented on #1113
An update on timeline here. We're getting close to 6.0 release. 6.1 will have full 'controller' defined here: https://resthooks.io/blog/2021/08/29/Experimental-useController#whats-next which will provide easy integration with other view libraries.

[2021-08-31 21:47] adsharma commented on #361
Why not Entity -> GraphQL schema generator? That is the approach taken by [fquery](https://github.com/adsharma/fquery) a python based project with some similarities to rest-hooks.

https://adsharma.github.io/django-fquery/

GraphQL also doesn't have a good solution for more complex queries (filters, order by etc). Some extensions exist, but they don't work as well as a strongly typed method chaini

[2021-08-31 22:00] ntucker commented on #361
Certainly that's a viable approach. Probably even better since Rest Hooks is more expressive than GraphQL. We're happy to take PRs for this approach :)

[2021-09-02 19:52] rhlgs opened #1200 "Maintain same object reference for subscription if contents match"
**Is your feature request related to a problem? Please describe.**

A useSubscription causes unnecessary rerenders even if the key value pairs in the object are the same. This is because the object reference changes.

Can get around this by comparing JSON of objects, but ideally would like a lower level solution

**Describe the solution you'd like**

[code]

[2021-09-02 20:54] ntucker commented on #1200
Better way is probably to use [Entity.merge()](https://resthooks.io/docs/api/Entity#merge) this will short-circuit even earlier and only do the check once rather than any component that uses this hook.

This would simply add this behavior

[code]

And if you don't want to merge but just use newest value:

[code]

[2021-09-02 20:58] yunyu commented on #1200
@ntucker deepEqual definitely makes more sense. It would be great if this were implemented at the useSubscription level (so the performance enhancement would be there by default).

[2021-09-02 21:03] ntucker commented on #1200
If you put this in a BaseResource, it will be there by 'default' as well. Are there cases where you'd want this on a subscription but not another use of a given resource?

[2021-09-02 21:03] yunyu commented on #1200
Not particularly – and that is a good suggestion for our codebase.

[2021-09-02 21:06] ntucker commented on #1200
Generally I err on the side of the more obvious action as default when there are several valid behaviors. deepEquals itself is not cheap, and thus if there is a low probability of the contents being the same this could be a major performance degradation instead of win.

This is a good opportunity to add a guide for this case tho! Happy to accept PRs with guides or I might get around to it myself

[2021-09-02 21:07] rhlgs commented on #1200
thanks @ntucker!, this clears it up

[2021-09-02 21:07] #1200 closed

[2021-09-02 21:07] yunyu commented on #1200
I'd argue that deepEquals is probably way cheaper than a rerender, but I can understand the philosophy. We can definitely submit a PR highlighting merge (wasn't aware it existed) for a performance optimization.

[2021-09-02 21:12] ntucker commented on #1200
deepEquals is cheaper than re-render.

Case where data does not change: deep equal
Case where data does change: deep equal + rerender

So if data received more often changes data, you're just adding an extra computation without short-circuiting anything. In many cases, the cost of the deep equal is somewhat similar to rerender, so this doesn't need to happen often for it to slow things down. (afte

[2021-09-02 21:18] yunyu commented on #1200
@ntucker You are completely right – I guess that's why this may make more sense for subscriptions because we'd expect the contents to match most of the time. IIRC the argument against memoizing everything is typically related to closure GC cost, which doesn't really apply here, but the value of a deepEqual is definitely more dubious outside of subscriptions.

[2021-09-02 21:21] ntucker commented on #1200
Ya, that makes sense that subscriptions would be more likely to hit this case of unchanging. Are there some resources you subscribe to and others you don't?

(At Coinbase we just subscribed to price so it always changed so this wasn't a factor for us.)

[2021-09-05 17:30] ntucker commented on #361
Here's what I got so far

[code]

[2021-09-06 00:30] #361 closed

[2021-09-06 01:11] ntucker commented on #361
[Docs](https://resthooks.io/docs/graphql/usage)
[@rest-hooks/graphql](https://www.npmjs.com/package/@rest-hooks/graphql)

Happy to take input or PRs. This is basic implementation.

[2021-09-06 18:33] #297 closed

[2021-09-08 20:31] ntucker commented on #288
6.0.0 final was released last night. Working on migration guide and release post. In meantime, summary is https://github.com/coinbase/rest-hooks/releases/tag/rest-hooks%406.0.0

[2021-09-09 21:41] #888 closed

[2021-09-09 21:44] ntucker commented on #888
https://resthooks.io/docs/guides/immediate-updates has been updated to include information about how to use [Endpoint.update](https://resthooks.io/docs/api/Endpoint#update) in a reusable manner

[2021-09-14 19:32] ntucker commented on #760
Resolved with #1239

[2021-09-14 19:32] #760 closed

[2021-09-28 20:21] martinezleoml opened #1306 "Use of default <CacheProvider /> makes react-native apps crash"
**React native version** : 0.63.4

**Concurrent mode** : no

**Rest Hooks version**  : 6.1.0

**Describe the bug**
Use of default `<CacheProvider />` makes React Native app crash.

```Text strings must be rendered within a <Text> component.```

**To Reproduce**
Simply follow the getting started guide : https://resthooks.io/docs/getting-started/installation#add-provider-at-top-level-component

[2021-09-28 21:06] #1306 closed

[2021-09-29 04:01] ntucker commented on #1306
try [6.1.1](https://www.npmjs.com/package/rest-hooks/v/6.1.1)

[2021-09-29 12:09] rtorrente opened #1312 "Delete return symbol on useRessource"
**React version** 16.13.0

**Rest Hooks version** (e.g., 4.5.9) 6.1.1

**Describe the bug**

When you delete an entity on a resource that is actually used on a useResource list hooks, the value of the entity in useResource array is `Symbol(ENTITY WAS DELETED)` instead of being juste delete from array.

This lead to a component crash because component is waiting for a EntityType[] (like send by use

[2021-09-29 15:40] ntucker commented on #1312
Can you check your yarn.lock or package-lock.json to see if you have multiple instances of @rest-hooks/normalizr installed?

[2021-09-29 17:44] ntucker commented on #1312
If you want to include your yarn.lock or package-lock.json I could analyze it for you as well.

[2021-09-29 19:15] #1312 closed

[2021-09-29 20:16] ntucker commented on #1312
6.1.2 should throw an error instead if my theory is correct. otherwise we might need more information to understand what's going on like resource definition and package lock file

[2021-10-01 16:14] rtorrente commented on #1312
Hello @ntucker you was right ! Thank you very much for your quick assistance, you avoid me a big headache

The package was not directly installed by me, but by other rest-hooks packages (In this example by @rest-hooks/test). When I follow the guide to upgrade from 5 to 6, it tell me to upgrade only "rest-hooks" to 6.

For suggestion, as an user, the new package separation brings a lot of packages

[2021-10-01 16:46] ntucker commented on #1312
@rtorrente Thanks for the update on what happened here. The idea of split packages is *supposed* to make it easier to upgrade as you can incrementally do each piece separately. I think the problem here may be due to weird package manager behavior. What package manager and version do you use? npm 7?

@rest-hooks/test shouldn't be installing any version of @rest-hooks/normalizr, since it is marked a

[2021-10-01 16:50] ntucker commented on #1312
Oh unless the version of @rest-hooks/test is so old it isn't compatible with rest hooks 6. What version of @rest-hooks/test did you run before?

[2021-10-01 17:44] rtorrente commented on #1312
Hello,

My package manager is effectively npm 7 and it resolve peerDev it seem

At the moment of the bug, I was on react-hook 5 and I upgrade to 6.

Before upgrade I had on package.json

[code]

I did "npm install react-hook@6" but compilation failed. I checked documentation (https://resthooks.io/docs/getting-started/installation) and I saw that there is new packages that I don't use for the momen

[2021-10-01 18:00] ntucker commented on #1312
Thanks for the details. I think this is due to the || in peerdeps as npm 7 bugs out around that forcing install based on its shoddy algorithm instead of finding existing versions installed. I'm updating the upgrade instructions to hopefully help others.

Were you able to deduplicate the @rest-hooks/normalizr package? I was thinking maybe if you uninstall everything then install at once it might wo

[2021-10-04 17:57] ntucker commented on #1312
I added package info at top of the instructions https://resthooks.io/docs/upgrade/upgrading-to-6 hopefully this makes it easier for everyone. Thanks again for reporting I'm sure many people will be happy this was resolved :)

[2021-10-10 06:32] ntucker commented on #1113
6.1.2 has everything needed to start working, except a good example. The key to getting normalized response is using https://resthooks.io/docs/api/Controller#getResponse and https://resthooks.io/docs/api/Controller#getError

New hooks will be written that will be better examples, but in case you want to get started now, everything is in place in the current version.

[2021-10-17 06:24] ntucker commented on #1113
Everything is in order now.

### Shared

docs on core piece: https://resthooks.io/docs/api/Controller

### React specific examples

Example data binding:
https://github.com/coinbase/rest-hooks/blob/master/packages/experimental/src/hooks/useSuspense.ts

Example provider:
https://github.com/coinbase/rest-hooks/tree/master/packages/core/src/react-integration/provider

[2021-10-18 00:24] ntucker commented on #731
Closing this in favor of two things:

useSuspense() takes a single argument.

Endpoint.all() or something will turn multiple endpoints into one that can be sent there.

[code]

[2021-10-18 00:24] #731 closed

[2021-10-20 15:14] rtorrente commented on #1312
Hello @ntucker

Sorry for the slow answer, it's good with uninstall and install again, thanks for your updating of docs

[2021-10-20 15:14] rtorrente opened #1425 "NetworkErrorBoundary catch all error"
**React version** (e.g., 16.8.5) : 16.13.0

**Concurrent mode** no

**Rest Hooks version** 6.1.2

**Describe the bug**

The component NetworkErrorBoundary check if error is a network error before setting error to true in the boundary.

If error is not a network error, we render again the children (Crash again, handle again by NetworkErrorBoundary, render children again, crash again, infinite).

**

[2021-10-21 10:35] #1425 closed, assigned to nobody

[2021-10-21 23:54] drasco opened #1438 "Suspense fallback is triggered when no request is made"
**React version** 17.0.2

**Concurrent mode** yes/no

**Rest Hooks version** 6.1.6

**Describe the bug**
A map generated card list flickers (because the fallback component is rendered), when a sever side search filter query param is applied, even if the data is in cache

**To Reproduce**
This code, using suspense, causes flicker, especially if the browsing session is over a remote terminal server

[2021-10-22 00:06] drasco commented on #1438
Side note, is it possible to have more examples on the topic of server side filtering?

When combined with the cache, it really is a great feature - it makes client side filtering quite redundant.

[2021-10-22 02:15] rwest202 opened #1439 "Windows error on build:lib command, rest-hooks package"
https://github.com/coinbase/rest-hooks/blob/105a3f1060b9c08f9d5830f653df78f597d95eb4/packages/rest-hooks/package.json#L55

The `RESOLVER_ALIAS` environment variable is set to `'{\"^rest-hooks(.+)$\":\"./src/\\\\1.js\"}'` however this fails when run on windows.

`SyntaxError: [BABEL] C:\Users\ryanw\Documents\self\rest-hooks\packages\rest-hooks\src\index.ts: Unexpected token } in JSON at position 32

[2021-10-22 03:29] ntucker commented on #1438
If you're down to do a screen share pair - join our discord https://discord.gg/35nb8Mz and I'm happy to take a look tomorrow.

[2021-11-03 18:17] rtorrente opened #1467 "useStatefulResource throw "no provider error""
**React version** (e.g., 16.8.5) :  16.14.0

**Concurrent mode** no

**Rest Hooks version** 6.1.7

**Describe the bug**

useStatefulResource throw an error "It appears you are trying to use Rest Hooks without a provider.
Follow instructions: https://resthooks.io/docs/getting-started/installation#add-provider-at-top-level-component" but there is already a <CacheProvider> at the top of the app.

The

[2021-11-03 18:25] rtorrente opened #1468 "controller.fetch or useFetcher of Resource.detail() are not instanceof Resource"
React version (e.g., 16.8.5) : 16.14.0

Concurrent mode no

Rest Hooks version 6.1.7

**Describe the bug**

Result of controller.fetch or useFetcher of Resource.detail() are not instanceof Resource which causes a problem to access calculated properties.

**To Reproduce**

2 codes that are not instance of Resource (Code simplified)

[code]

[code]

For this two requests, result is not a instance of

[2021-11-03 19:17] ntucker commented on #1467
I suspect this is due to there being multiple copies of @rest-hook/core installed. Can you check yarn.lock or package-lock.json to see if this is true? If so you might try reinstalling like the instructions in 'caution' here https://resthooks.io/docs/upgrade/upgrading-to-6#package-compatibility

[2021-11-03 21:59] ntucker commented on #1467
If you can get a minimum repo reproduction that would speed things up. I'm on the way to the airport and can see if I can replicate once I'm checked in

[2021-11-03 22:45] ntucker commented on #1467
@rtorrente  Does the error get thrown in a test, or in browser?

[2021-11-03 23:25] ntucker commented on #1467
What build system do you use webpack? if so which version. Also which version of node?

[2021-11-03 23:44] ntucker commented on #1467
I tried reproducing this in a new project and could not. Can you maybe see about putting a CacheProvider *just* above the component calling useStatefulResource and see if that helps?

[2021-11-03 23:55] rtorrente commented on #1467
Hmm I tried to reproduce in rapid code sandbox (https://codesandbox.io/s/festive-hawking-ypz2p) and I can't..

Problem seems to be on my app.

I will check tomorrow if I can get more details with Component Tree or Redux Rest-Hooks debug or find a resolution, it's night in France. I will post more details here.

Thanks and have a good flight !

[2021-11-07 15:26] yunyu opened #1474 "RestEndpoint.extend with no-argument fetch doesn't work with useFetcher"
**React version** 17.0.2

**Concurrent mode** no

**Rest Hooks version** 6.1.7

**Describe the bug**
Returning RestEndpoint.extend results in a type error when trying to use it in useFetcher. It works fine with an object spread. This is an example from the documentation: https://resthooks.io/docs/guides/extending-endpoints#custom-get

**To Reproduce**
This doesn't work:

[code]

![image](https://u

[2021-11-07 15:31] yunyu commented on #1474
Unrelated issue: useFetcher doesn't seem to allow passing in any arguments for custom endpoints:

![image](https://user-images.githubusercontent.com/8008350/140651445-6a41ab2b-a5f8-4606-9461-c7a7e9864f5e.png)

[2021-11-11 18:58] ntucker commented on #1474
Workaround is to put an argument in your fetch call and just ignore it. I can losen the types for useFetcher tho. If you're using v6 you should try using controller.fetch from useController().

[2021-11-11 19:05] ntucker commented on #1474
PS) Due to a weird TypeScript bug you'll also want to **Either**

1) Add `schema: this`
2) Explicitly type the return value

More info here: https://resthooks.io/docs/guides/rest-types#a-limitation

[2021-11-23 13:44] ntucker commented on #1467
I'm gonna pull useStatefulResource into the core package with a new name. This is blocked on figuring out a better name tho....

The new name for useResource is useSuspense....so useNotSuspense? lol. Would love input here.

[2021-11-23 13:44] ntucker commented on #1468
You can useCache to look for the resulting denormalized form. This also ensures component re-renders work correctly, etc.

[2021-11-23 13:46] ntucker commented on #1439
Would love a PR that makes this work. My attempts failed. I develop exclusively on windows, but I use WSL. So if that's an option for you it should at least be a workaround. Otherwise I'd love to see how to make this work given the complexity of the commands needing to be issued.

[2021-11-23 13:46] ntucker commented on #1438
@drasco Still down to pair if you are. :)

[2021-11-23 15:34] ntucker opened #1515 "RFC: optimisticUpdater access to store"
# **Is your feature request related to a problem? Please describe.**
Using existing state to determine optimistic response is valuable in some cases to resolve race conditions

### Example - toggle

[code]

### Example - PATCH

/updateVisSettings

[code]

[code]

[code]

# **Describe the solution you'd like**

### Store

For operations during reducer, access to dispatch is banned. Thus we instanti

[2021-11-23 16:23] #1474 closed

[2021-11-26 22:39] ntucker commented on #1474
Fixed in [@rest-hooks/endpoint@2.1.0](https://www.npmjs.com/package/@rest-hooks/endpoint)

[2021-12-01 04:30] drasco commented on #1438
Hey Nathan, terribly sorry - i'm back on the main .net app for a while now before the web page gets any attention. I can barely even remember how react works now!

[2021-12-01 08:57] rtorrente commented on #1467
Hello @ntucker, sorry for the delay, I can't reproduce this bug on my app like in the sandbox, very strange.
Issue can be closed, sorry ..

It's a very good idea to put useStatefulResource in the core package. I think it's 2 option for using a resource (suspense or not) and two have their own use case.

Difficult for the name. The best would be useResource in my opinion but it would confuse the ol

[2021-12-07 12:22] saaymeen opened #1548 "Question: Refetching paginated resource after mutation"
Hi!

I display a paginated result from `useResource` at one point in my app. The user can create additional items for this list in a dialog. The docs for [immediate mutation updates](https://resthooks.io/docs/guides/immediate-updates) specify pretty well how to append the result of a mutation in the current cache, for my use case however this does not work because I do not know the pagination para

[2022-01-10 12:15] krunicn commented on #312
Hi @ntucker, would you mind sharing an overview on how you use protos to generate entities?

[2022-01-10 18:03] ntucker commented on #312
@krunicn Sure! They key is identifying which messages are entities and then how they make a [primary key](https://resthooks.io/docs/api/Entity#pk). The easiest way to do this if you have control over your API is to simply designate a given field (like 'id') to always mean a primary. In this case, your codegen would simply check for existence of the field and if so create an Entity. Since they are

[2022-01-23 23:03] #1515 closed

[2022-02-09 19:36] kevinhaube opened #1689 "Imports from @react-hooks/test failing with circular dependency TypeError"
**React version** (e.g., 16.8.5)
17.0.2

**Concurrent mode** yes/no
no

**Rest Hooks version** (e.g., 4.5.9)
[code]

**Describe the bug**
Any and all imports from `@rest-hooks/test` cause the following error: `TypeError: Class extends value undefined is not a constructor or null`.

I first got this error when using `MockResolver` in my component unit tests. The line that failed was not my usage, b

[2022-02-09 22:48] ntucker commented on #1689
Can you share your unit testing setup - like node version, jest version, etc

[2022-02-09 22:49] ntucker commented on #1689
Alternatively if you have a minimum reproducible example that you should share it would help greatly in identifying the issue.

[2022-02-10 02:11] ntucker commented on #1689
Do you have a stack trace for `TypeError: Class extends value undefined is not a constructor or null`? I cannot reproduce this

[2022-02-15 03:41] ntucker commented on #1689
I stumbled across a export type in https://github.com/coinbase/rest-hooks/pull/1701. Can you try with 7.2.0 @rest-hooks/test release and see if that helps? @kevinhaube

[2022-02-20 03:49] ntucker opened #1723 "@rest-hooks/img custom element"
Right now we're stuck with anchor, but what if we want a custom element?

[2022-02-21 14:07] saklani opened #1727 "Resource with 'url' property returns '__url' when using spread syntax"
**React version** 7.0.2

**Package manager version** yarn 1.22.17
**Node version** 17.14.0

**Rest Hooks version** 6.1.7

**Describe the bug**
Using the spread syntax `...` on a resource object returns `__url` instead of the `url` that I expected.

**Minimum reproducable example or test case**
Here's a minimal example.

`test.tsx`
[code]

`App.tsx`
[code]

The console output
[code]

**Expected beh

[2022-02-22 03:06] #1723 closed

[2022-02-25 08:22] ntucker commented on #1727
Thanks for the report and detailed description. We should have a fix out soon!

[2022-02-25 17:22] #1727 closed

[2022-03-01 05:01] ntucker commented on #1689
I'm gonna assume this is fixed; feel free to open another ticket if you have any more issues. Thanks!

[2022-03-01 05:01] #1689 closed

[2022-03-17 09:21] chainalert-bot opened #1803 "ChainAlert: npm package release (3.1.0) has no matching tag in this repo"
Dear [@rest-hooks/core](https://npmjs.com/package/@rest-hooks/core) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (3.1.0) of [@rest-hooks/core](https://npmjs.com/package/@rest-hooks/core) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks

[2022-03-17 09:21] chainalert-bot opened #1804 "ChainAlert: npm package release (8.2.0) has no matching tag in this repo"
Dear [@rest-hooks/normalizr](https://npmjs.com/package/@rest-hooks/normalizr) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (8.2.0) of [@rest-hooks/normalizr](https://npmjs.com/package/@rest-hooks/normalizr) was published without a matching tag in this repo**.

As part of our efforts to fight software

[2022-03-17 09:21] chainalert-bot opened #1805 "ChainAlert: npm package release (6.2.0) has no matching tag in this repo"
Dear [rest-hooks](https://npmjs.com/package/rest-hooks) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (6.2.0) of [rest-hooks](https://npmjs.com/package/rest-hooks) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would like to verif

[2022-03-21 08:09] #1805 closed

[2022-03-21 08:09] #1804 closed

[2022-03-21 08:09] #1803 closed

[2022-03-31 20:27] ntucker opened #1851 "Docs: Thinking in Suspense"
- step 1) figure out what makes sense for loading/error states by drawing boxes
- step 2) codeshare loading with actual component by extracting Wrapper/Container components ( they only define layout and have 'holes' (props of ReactNode like children))
- step 3) put shimmers in holes for loading component
- step 4) put useSuspense as low as possible - wherever you use it. it cascades up to that top

[2022-04-03 05:39] ntucker commented on #1438
Closing this for now, but feel free to reach out on discord if you see the problem again. Also React 18 final is out now :)

[2022-04-03 05:39] #1438 closed

[2022-04-03 15:54] #1467 closed

[2022-04-22 22:36] ntucker opened #1937 "GraphQL ergonomics"
This is explore possible ergonomics improvements to GraphQL support. For context, the initial library was built to support 100% of the powers of Rest Hooks high performance high data integrity with helpers built on the low level API. To expand upon GraphQL support more specializations can be created on top of. These of course will always be completely optional.

https://ntucker.notion.site/GQLReso

[2022-04-30 20:21] ntucker commented on #1689
Figured out the issue by checking out https://github.com/CDCgov/prime-reportstream/pull/4235

For the longest time I couldn't figure out why there were only two exports in rest hooks and furthermore it wasn't even running the JS in there. Then I found this:

[code]

So yeah, it's trying to extend from a class that was explicitly deleted.

@rest-hooks/test exists so you don't have to do dangerous a

[2022-04-30 20:32] kevinhaube commented on #1689
Sweet! I'll take the mock out and try the `MockResolver` and fixture implementation again and report back next week. Apologies on the lack of response, too. I've been all over the place haha

[2022-05-02 12:15] rtorrente opened #1976 "[Legacy] Missing import extension for rest-3/index"
In @rest-hooks/legacy, in index.js, rest-3 module miss extension that is required in strict module

It leads to this error in run time

[code]

A simple change to export * as rest3 from './rest-3/index.js'; in line 12 correct the problem

[2022-05-02 12:43] #1976 closed

[2022-05-03 05:37] Beaulieu188 commented on #1851
PayPal account

[2022-05-10 17:18] renovate[bot] opened #2002 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] pkg: Pin dependencies (`@anansi/babel-preset`, `@anansi/jest-preset`, `@anansi/router`, `@anansi/webpack-config`, `@ant-design/icons`, `@babel/no

[2022-06-02 05:36] nithiwatter opened #2037 "Hydration mismatch when using with Next.js"
**React version** (17.0.2)

**Package manager version** (npm 6)

**Node version** (14.19.1)

**Rest Hooks version** (6.3.4)

![image](https://user-images.githubusercontent.com/59894785/171558950-2425fa5a-93f2-4f38-a092-f532dab033ca.png)

**Describe the bug**
Using with Next.js produces a hydration mismatch error. Simply place `CacheProvider` in `pages/_app.js`:

![image](https://user-images.github

[2022-06-02 08:07] ntucker commented on #2037
Suspense server side only starts working in react 18. In 17 they always render the fallback. This means you can still ssr but just nothing beyond a suspense boundary. Would it be possible to upgrade to 18 for you?

[2022-06-02 11:13] nithiwatter commented on #2037
Thank you for the reply! From what I understand, there is a check somewhere that says that if we are on version  17 and it is ssr, we will not render Suspense, so how is that a problem?

[2022-06-02 11:59] nithiwatter commented on #2037
Or are you saying that this library does not work with SSR if we are on React 17?

[2022-06-02 14:42] brunohq opened #2038 "Problems with documentation"

[2022-06-02 15:18] #2038 closed

[2022-06-02 16:32] ntucker commented on #2037
I realize now this is an issue with a Suspense rendered inside CacheProvider itself, which prevents rendering of children in SSR in react 17/16. I will work on not rendering suspense if both conditions are detected: react < 18 & running in node. This should resolve the issue.

[2022-06-02 18:29] ntucker commented on #2037
Ahh, OK now I realize I had already done the above and the problem is the client is hydrating *with* a suspense boundary. So I somehow need to detect hydration and then not use the suspense boundary.

[2022-06-03 20:29] #2037 closed

[2022-06-03 21:17] ntucker commented on #2037
@nithiwatter can you do me a huge favor and test this out with `@rest-hooks/core@3.2.5-beta.0` ? Without reproducable example I can't be 100% certain my change fixed this and would love your assistance here. Thanks!

[2022-06-03 21:36] ntucker opened #2040 "RFC: Better automatic handling of Summary/Extended Entities"
# Background

Currently the https://resthooks.io/docs/getting-started/validation#partial-results case is a rather cumbersome endeavor; requiring users to maintain custom validation methods for each Resource/Entity they define. Furthermore, in some systems like GraphQL having partial results is quite common.

What makes this more problematic is doing this incorrectly can lead to serious bugs, where

[2022-06-05 18:45] ntucker commented on #2037
I tried setup myself and I'm still getting the warning even tho the SSR and client DOM 100% match.

I even altered the elements to be distinct as so:

### HTML Sent:

[code]

### DOM:

[code]

According to the stack trace next.js doesn't even think this is a hydration error.

[2022-06-07 20:56] ntucker commented on #2037
I realized that since suspense does not work in react < 18 and there's no mechanism in next.js to prime the cache it doesn't make sense to even render CacheProvider in the server side flow. It only makes to use it client-side. Thus I'm adding a warning in https://github.com/coinbase/rest-hooks/pull/2044 to help direct better usage patterns.

[2022-06-10 12:20] rtorrente opened #2051 "useSuspense always displays fallback in next.js 12.1.6"
**React version** : 18.1.0

**Package manager version**  : yarn : 1.22.17

**Node version** : v16.13.1

**Rest Hooks version** 6.3.4

**Next JS Version** 12.1.6

**Describe the bug**

I'm trying to use next.js for the first time when creating a new app and I’ve got a strange bug when using useSuspense.
If the website is already loaded (e.g. I'm on the home page) and I navigate (with Next Router) t

[2022-06-11 15:59] ntucker commented on #2051
Am I understanding correctly that even after the page loads (showing the fallback due to lack of SSR) it still doesn't load the data?

[2022-06-15 08:22] rtorrente commented on #2051
@ntucker exactly

For concrete example, I put LinearProgress material ui component as a suspense fallback and if I access the page directly, LinearProgress run forever (and browser shows circular loading state indicates that page isn't fully loaded)

[2022-06-17 16:40] ntucker opened #2053 "RFC: Controller.fetchIfStale()"
## Motivation

- fetch-as-render pattern results in over-fetching (non-stale data is fetched on every transition)
- centralize more handling - less in hooks = happier world

## Current world

Currently final ‘stale’ logic exists in hooks

[code]

This isn’t too bad; but it does mean some logic is repeated in any implementation.

The non-lifecycle based logic can be extracted as such:

[code]

## P

[2022-06-17 19:49] ntucker commented on #2053
## Council notes

- Name is actually quite good
- Migrate by doing middleware change first, then add new dispatcher

[2022-06-21 18:23] ntucker opened #2054 "useSuspenseCondition"
This is for long-running tasks that don't resolve from a simple fetch. Endpoint is subscribed (meaning they can use polling or other methods like websockets); then on updates - they check a conditional (function set in endpoint) and if does not pass, throws a promise for next polling frequency.

This will be used for workflow result stream. By using suspense in react 18 the entire flow is very sim

[2022-06-27 03:38] ShayneMichaelBacik1 opened #2057 "Bug"
Bug

_Originally posted by @mikehunter1990 in https://github.com/coinbase/coinbase-wallet-sdk/issues/579#issuecomment-1162208984_

[2022-06-27 03:42] ShayneMichaelBacik1 opened #2058 "bugs llife"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-27 03:42] ShayneMichaelBacik1 opened #2059 "Bugs report"
**React version** (e.g., 17.0.2)

**Package manager version** (e.g., yarn 2, npm 8)

**Node version** (e.g., 16.13.2)

**Rest Hooks version** (e.g., 6.2.0)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise desc

[2022-06-29 14:53] ah19 opened #2060 "Unable to run tests via jest"
**React version** (e.g., 17.0.2)
18.2.0

**Package manager version** (e.g., yarn 2, npm 8)
8.1.2

**Node version** (e.g., 16.13.2)
v16.13.1

**Rest Hooks version** (e.g., 6.2.0)
6.3.4

**Describe the bug**
I'm upgrading to react 18 and moving away from enzyme. When I try to run my tests via jest and react-testing-library I get the following error:
[code]

If I set `transformIgnorePatterns: ["node_

[2022-06-29 20:05] ntucker commented on #2060
Thanks for the report, @ah19 ! Can you confirm that the same setup had worked with the previous version of react?

[2022-06-29 21:00] ntucker commented on #2060
I have discovered the cause. Jest is identifying itself as a 'browser' conditional for [package.json 'exports' field](https://nodejs.org/api/packages.html#exports), rather than 'node'. This appears to be a somewhat recent change in a downstream dependency.

Will push a new version of the packages with updated exports entries.

[2022-07-02 00:43] #2059 closed

[2022-07-02 00:43] #2057 closed

[2022-07-02 00:43] #2058 closed

[2022-07-02 01:00] #2060 closed

[2022-07-04 16:22] 420FA commented on #2002
Trace it

[2022-07-19 17:10] ntucker opened #2091 "React 18.2 StrictMode breaks updates"
**React version** 18.2

**Package manager version** (e.g., yarn 2, npm 8) npm 8

**Node version** (e.g., 16.13.2)

**Rest Hooks version** 6.3.6

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. https://github.com/localjo/rest-hooks-example/commit/b0073c3e08bac17b3314377aae1472d7422a1bef
2. npm start
3. Open page and see

[2022-07-20 15:29] #2091 closed

[2022-07-29 16:42] sweetro commented on #2040
Doc case, when my detail resource has fields that may all be "optional" (as in doesn't exist for the resource -- see example below, all users have `firstName`/`lastName` and some have `nickName`. In order to fetch the `DetailResource` need to mark `nickName` as required. For API design, this means the `DetailResource.detail` endpoint needs to explicitly include keys with null values in the case wh

[2022-07-30 19:04] ntucker commented on #2051
From the betas to final 18, React changed the nature of SSR - so it's basically avoiding re-renders when the data comes in. I'm working on a solution to this, but was traveling in Europe for the past 3 weeks. Will have designs posted; but figured I should update here.

[2022-07-30 19:16] ntucker commented on #1439
Since we're using yarn 3 (berry) now this should work fine.

[2022-07-30 19:16] #1439 closed

[2022-08-07 22:39] ntucker opened #2128 "RFC: Resource has an Entity (@rest-hooks/rest v6)"
# Motivation

## Existing design

Resource *is* an Entity. Endpoints are defined as static members.

The motivation is for brevity: This allows one import to both define the expected type as well as access the endpoints to send as hook 'subjects'.

## Problems

1. Class static side is not well supported by TypeScript. This leads to the somewhat confusing but also limiting [generic workaround](http

[2022-08-12 16:37] sisuwk commented on #2128
I like the CRUD function, but when you only want specific ones, maybe this?
[code]

[2022-08-12 17:04] taystack commented on #2128
I would be happy to see `new Resource(User).extend` to allow multiple argument types. As long as a `CRUD` shape is returned, I can see having a method as an alternative argument when you need access to the `super` resource.
[code]

[2022-08-19 16:42] ntucker commented on #2128
[code]

## Resource/REST operations construction as member of endpoint

[code]

## Resource is just a POJO

[code]

## Object that we must tell about our Endpoint

[code]

[2022-08-29 21:36] ntucker commented on #465
test

[2022-08-30 23:37] ntucker commented on #1937
These of course will always be completely optional.

[2022-09-01 11:50] ah19 opened #2151 "Example custom GET URL in documentation doesn't work"
**React version** (e.g., 17.0.2)
18.2.0

**Package manager version** (e.g., yarn 2, npm 8)
8.1.2

**Node version** (e.g., 16.13.2)
16.13.1

**Rest Hooks version** (e.g., 6.2.0)
6.3.6

**Describe the bug**
The [custom get example](https://resthooks.io/rest/guides/extending-endpoints#custom-get) does not work as intended. The URL called is the url() from the resource rather than the custom one defin

[2022-09-03 00:25] #2151 closed

[2022-09-04 00:58] #2040 closed

[2022-09-04 03:06] #2128 closed

[2022-09-16 20:44] uxxman opened #2178 "ReferenceError: Can't find variable: endpoint after upgrading from 3.0.3 to 5.1.1"
**React version** 18.0.0

**Package manager version** npm 8.19.2

**Node version** 16.13.2

**Rest Hooks version** 6.3.11

**Describe the bug**
I am upgrading @rest-hooks/rest from 3.0.3 to 5.1.1 for a React-Native (Expo) app and I get this error  **ReferenceError: Can't find variable: endpoint**. When I revert back to 3.0.3 the error goes away. Is there something new that needs to be installed or

[2022-09-16 21:21] ntucker commented on #2178
Can you check your lockfile to see if there are multiple versions of @rest-hooks/endpoint installed?

For reference, https://github.com/coinbase/rest-hooks/pull/2159 is intended to solve the problem of multiple endpoint packages installed.

[2022-09-16 21:31] uxxman commented on #2178
The lock file shows install version for @rest-hooks/endpoint is 2.3.1.

Every other rest-hooks package that require @rest-hooks/endpoint also mention the same version 2.3.1 except for @rest-hooks/rest.

<img width="834" alt="Screenshot 2022-09-17 at 02 30 44" src="https://user-images.githubusercontent.com/3153380/190783503-73b12f50-9dd9-4a61-8acb-45cae33edf63.png">

[2022-09-16 21:46] ntucker commented on #2178
Hmm, so there's only one entry for @rest-hooks/endpoint?

Can you paste the full stack trace of the ReferenceError?

[2022-09-17 00:03] ntucker commented on #2178
Can you try @rest-hooks/rest@5.2.0-beta.0 and rest-hooks@6.4.0-beta.0

[2022-09-17 08:06] uxxman commented on #2178
Yes. Stacktrace

![IMG_8924](https://user-images.githubusercontent.com/3153380/190847101-6d83e956-3076-4861-a08f-7020d678b04e.PNG)

![IMG_8925](https://user-images.githubusercontent.com/3153380/190847118-1734114c-7f07-4327-b091-818001abee05.PNG)

[2022-09-17 08:10] uxxman commented on #2178
same error

[2022-09-17 08:15] uxxman commented on #2178
More Info: I am also using the same code on web using react-native-web and it works there. Can the latest version be using any node api that is available on the web and not on the JavaScript engine used by react-native?

[2022-09-17 21:03] ntucker commented on #2178
Two new ideas:

1) @rest-hooks/rest has @rest-hooks/endpoint as peerdeps - perhaps it cannot find it - try adding @rest-hooks/endpoint  to root level?

2) react-native has its own javascript environment. Perhaps there is something odd there. Do you know where the docs are that detail what the environment supports?

[2022-09-17 21:23] ntucker commented on #2178
Just published beta.1; can you try that as well?

[2022-09-18 10:30] uxxman commented on #2178
same error

same error

Not sure if there is any source that mentions that, according to react-native docs https://reactnative.dev/docs/javascript-environment
There is also a new Hermes engine and I have tried it with too, same error persists. Can we see a source difference for rest-hooks/rest from 3.0.1 onwards?, I didn't see any tag for it github since its a monorepo

[2022-09-18 18:20] ntucker commented on #2178
https://github.com/coinbase/rest-hooks/blob/master/packages/rest/CHANGELOG.md is the changelog. Maybe try exactly version 5.0.0 in case this is related to the package exports field changes from https://github.com/coinbase/rest-hooks/pull/2099

[2022-09-18 18:23] ntucker commented on #2178
It might be easier to pair on this so if you're down feel free to book something on my calendar: https://calendly.com/ntucker1337/hour-meeting

[2022-09-19 01:26] ntucker commented on #2178
What I'm learning is that in Safari (and thus react native on ios), 'Can't find variable' is the same as 'Uncaught ReferenceError: a is not defined' - so in other words the scope is no aware of a declared variable of that name.

The only thing I can find related to this is sometimes there's weird scoping rules that happen like in : https://stackoverflow.com/questions/67771875/only-in-safari-refere

[2022-09-19 01:33] ntucker commented on #2178
https://stackoverflow.com/a/38686052/1046439 hmm maybe react native doesn't support require anymore? But then why is it loading the commonjs file?

We could validate this by finding in the @rest-hooks/rest package.json

[code]

and changing it to

[code]

This would tell newer react native to only use es6 module versions. I just don't have an environment myself to validate this with so I'm unsure.

[2022-09-19 08:19] uxxman commented on #2178
Tried this but same error.

Tried and same error. Then I tried with version 4.0.0 and these are the changes which introduce the error for the first time. So, up till 3.0.3 everything works as it is. But just upgrading to 4.0.0 of rest-hooks/rest, the error starts to appear.

I created a demo repo => https://github.com/uxxman/rest-hooks-error. If you see the commit history, its simple;
=> first is

[2022-09-19 17:40] ntucker commented on #2178
Thanks for the demo repo. It's taking a bit for me to get it running on my machine. Installed android studio, and currently at `Error: spawn /mnt/c/Users/natma/AppData/Local/Android/Sdk/platform-tools/adb ENOENT`

[2022-09-19 17:58] ntucker commented on #2178
I setup a symbolic link to get adb.exe callable from adb. so i'm at:

[code]

But the android VM just shows a white screen with a white line. Is the app supposed to show anything when it's working?

[2022-09-19 18:44] uxxman commented on #2178
@ntucker you don't need android studio or anything if you have a smart phone....just install the Expo app, scan the QR-Code and the app will start running on your device. My apologies that you had to go through that hectic setup 😔

The app just displays the list of posts from https://jsonplaceholder.typicode.com/posts

[2022-09-19 19:28] ntucker commented on #2178
Ok, I think I figured out how to fix - validating this now!

[2022-09-19 19:41] ntucker commented on #2178
It worked for me so I'm gonna publish a non-beta version of this.

Try rest-hooks@6.4.0 and @rest-hooks/rest@5.2.0 @uxxman !

[2022-09-19 19:49] uxxman commented on #2178
@ntucker verified rest-hooks@6.4.0 and @rest-hooks/rest@5.2.0 works as expected. Thanks man. Great work and support as always. You are a star 🤩

[2022-09-20 03:24] #2178 closed

[2022-10-09 03:26] ntucker commented on #317
New location of recommended way of doing this: https://resthooks.io/rest/guides/optimistic-updates#optimistic-deletes

[2022-10-10 18:52] ntucker commented on #1937
## Before

[code]

## After

[code]

## Before

[code]

## After

[code]

[2022-10-13 17:52] andreas-soroko opened #2215 "bug: missing typing for body when using entity class"
**React version** (e.g., 18.2.0)
- 18.x

**TypeScript version (if used)** (e.g., 4.8.2)
- 4.8.2

**Rest Hooks version** (e.g., 6.3.11)
[code]

**Package manager version** (e.g., yarn 2, npm 8)
8.15.0

**Node version** (e.g., 16.13.2)
v16.17.0

**Describe the bug**
Trying to create some endpoints for test purposes but it looks like that the body isn't correctly inherit?
Or i am using it wrong ...

[2022-10-14 05:37] andreas-soroko commented on #2215
Thank you for your really good and fast answer.
I already tried some of your solutions und would prefer the `body: TestEntity.fromJS({})` but it looks like that this is also not working.

My misstake, copied the wrong exampe - should be an `update` -  `PUT`.

## Code sharing
the url prefix in our project is quite dynamically (can be changed at runtime to choose a different edge), so this solution

[2022-10-14 22:06] #2215 closed

[2022-10-14 22:24] ntucker commented on #2215
# RestEndpoint @rest-hooks/rest@6

Released a new version with 'body' typing change, and 'process' typing change that I had done previously. With 6.0.1 you'll be able to:

- Extend with body-only and it will inherit the 'path' part of the function
- Set return type with [process()](https://resthooks.io/rest/api/RestEndpoint#process)

[code]

# Resources

If your url is dynamic, you could try updat

[2022-10-19 05:37] andreas-soroko commented on #1468
We also ran into this.

Is there a workaround? Looks like `controller.getResponse` can't be used because the `StateContext` is not public.

[2022-10-19 09:40] gregor-mueller commented on #2053
This would be really helpful for us!

Name suggestion: `Controller.provide` as this will provide the data (from cache if fresh, from API if stale).

[2022-10-20 16:02] ntucker commented on #2053
Thanks for the input @gregor-mueller ! What do you expect/want for the return value to be? The resolution of the promise, or the processed data from the cache?

[2022-10-21 06:54] gregor-mueller commented on #2053
I'd expect the processed data from the cache.

[2022-11-01 19:55] ntucker commented on #1468
@andreas-soroko is it important to keep other entities from state, or just do the same processing to get the classes?

[2022-11-02 13:58] stufisher opened #2246 "v6 migration guide"
Hi! Thanks for the nice project.

I have just come across the major update to v6 and i am struggling to see how to migrate my existing resource to this new api. Sorry if this is an obvious question but i struggle with some of the technicalities of rest-hooks!

In my current project i have a series of inheritable resources: `BaseResource` (with custom base url), `Authenticated` (token), and `Pagina

[2022-11-02 15:37] ntucker commented on #2246
Yup, you can see a similar example in the github app https://stackblitz.com/github/coinbase/rest-hooks/tree/master/examples/github-app?file=src%2Fresources%2FBase.ts

The only thing I'd suggest is adding more options to customize and just spreading the extra props to the createResource call.

[2022-11-02 16:10] stufisher commented on #2246
Excellent, thanks a lot!

[2022-11-02 16:10] #2246 closed

[2022-11-02 19:10] ntucker commented on #2246
Added mentions of this pattern:
- [Rest v6 Announcement blog post](https://resthooks.io/blog/2022/10/23/Announcing-Rest-6#inheritance-patterns-for-code-sharing)
- [Inheritance Patterns in createResource](https://resthooks.io/rest/api/createResource#function-inheritance-patterns) docs page

Thanks for the report, hopefully these docs will make this more clear to others!

[2022-11-03 21:40] ntucker commented on #2051
Confirmed fixed in 6.5.0-beta.1. Will be releasing full version within next week.

[2022-11-03 22:41] #1468 closed

[2022-11-04 14:24] stufisher commented on #1548
@ntucker i'm interested in this one too.

We have for example a Resource. In the current view are two `getList`s with different query params (pagination, filter, etc). Then we create a new entity within the same view. I'd like to be able to trigger re-fetch of these two lists to which the new entity may or may not apply.

I also have a second use case where this sort of functionality would be trig

[2022-11-05 20:34] #2051 closed

[2022-11-08 15:58] ntucker commented on #1468
Released in [Rest Hooks 6.5](https://resthooks.io/blog/2022/11/09/Query-getState-SSR-partial-hydration)

[2022-11-08 15:59] ntucker commented on #2051
Released in [6.5](https://resthooks.io/blog/2022/11/09/Query-getState-SSR-partial-hydration) @rtorrente

[2022-11-08 17:16] ntucker commented on #1548
We could have `Controller.invalidateAll(key => matches);`

Where it checks each key and if it matches will invalidate that endpoint. For RestEndpoints this could use path-to-regex to autobuild the matcher, making it `Controller.invalidateAll(MyEndpoint.matchAll);`

[2022-11-09 08:11] stufisher commented on #1548
Sounds like that would work for me 👍

[2022-11-20 19:33] ntucker commented on #2053
@gregor-mueller In case you just want the state, you can use https://resthooks.io/docs/api/Controller#getState

[2022-11-20 19:58] ntucker opened #2292 "RFC: Retry on 'soft' errors + sideEffect false"
## Mechanics

Endpoints with sideEffects are not safe to retry, as it cannot be guaranteed where they failed - which means issuing them multiple times could result in undesirable effects!

'hard' errors indicate they should not be ignored. Most commonly this indicates there is a real problem that won't be fixed by refetching - for instance if the fetch is not authorized. In these cases, retrying w

[2022-11-20 19:58] ntucker commented on #2292
@notwillk

[2022-11-22 22:29] ntucker commented on #172
The latest version of NextJS supports React suspense, thus a [guide for SSR](https://resthooks.io/docs/guides/ssr) has been added. It includes NextJS as well as React 18 usage with express.

@lgodziejewski @localjo @arthruwelkin

[2022-11-22 22:31] ntucker commented on #2051
The latest version of NextJS supports React suspense, thus a [guide for SSR](https://resthooks.io/docs/guides/ssr) has been added. It includes NextJS as well as React 18 usage with express.

[2022-11-22 22:32] ntucker commented on #2037
The latest version of NextJS supports React suspense, thus a [guide for SSR](https://resthooks.io/docs/guides/ssr) has been added. It includes NextJS as well as React 18 usage with express.

@nithiwatter

[2022-11-28 22:33] ah19 opened #2299 "Objects and properties sometimes undefined from useSuspense"
**React version** (e.g., 18.2.0)
18.2.0

**TypeScript version (if used)** (e.g., 4.8.2)
4.5.5

**Rest Hooks version** (e.g., 6.3.11)
7.1, all packages @latest

**Package manager version** (e.g., yarn 2, npm 8)
8.1.2

**Node version** (e.g., 16.13.2)
16.3.1

**Describe the bug**
Since updating to the latest version and moving everything to Entity/createResource I get strange behaviour in production

[2022-11-29 06:41] ntucker commented on #2299
Do you know if the fetch actually completed when it returned? Can you get a snapshot of the state and paste here using [redux devtools](https://resthooks.io/docs/guides/debugging)? Or at least the network response

[2022-11-29 07:28] ah19 commented on #2299
Ah I hadn't seen the debugging guide, I'll give that a go and see what I can pull up.

I didn't see any errors in the console in dev mode, when I see this error interestingly the requests don't even appear in the network tab - its like it has decided not to make a call at all. There's no other errors or warnings beforehand from any library either. I've tried switching my production build to develo

[2022-11-29 16:23] ah19 commented on #2299
I've stripped everything back to one file and am still getting the error:

![image](https://user-images.githubusercontent.com/3033437/204583191-3c79a92e-26ad-4ced-968d-ed2e72dfb53f.png)

Redux/network tab show no mention of the second request at all:

![image](https://user-images.githubusercontent.com/3033437/204583376-0feb5870-78bb-4bff-8916-62933c816651.png)
![image](https://user-images.githubus

[2022-11-30 16:18] ntucker commented on #2299
I think I know what's happening. I am able to reproduce this by mocking out the project endpoint like you said. Then the other endpoint hit 'nothing', which for my server turned into HTML.

Prior to https://github.com/coinbase/rest-hooks/pull/1364 this had thrown an error to the user to identify that the response did not match the schema. I'll work on adding back this detection while still allowin

[2022-11-30 23:38] MisterFISHUP opened #2304 "Object.hasOwn is not a function on safari v14.1"
**React version**: 18.2.0

**Next.js version**: 13.0.1

**TypeScript version**: 4.8.4

**Rest Hooks version**: `rest-hooks` 6.4.2 and `@rest-hooks/rest` 5.2.0

**Package manager version**: yarn 1.22.19

**Node version**: 16.16.0

**Describe the bug**

Hi,

On some old safari (14.1.2), I encounter this runtime error: Object.hasOwn is not a function (from NetworkManager.js), which I think comes from